mixin arguments-short (args)
    for arg, i in args 
        span.argument
            if !arg[2]
                = '[ ' + arg[0] + ' ]'
            else
                = arg[0]

        if i < args.length - 1
            | , 

.docs
    h1.center Need help?

    .row
        for category, i in jsonContent('docs')

            if i % 2 === 0 && i !== 0
                </div><div class="row">

            .col-6: .docs-category
                h3= category.label

                for command in category.commands
                    .command

                        h4
                            = command.call + '('
                            +arguments-short(command.args)
                            = ')'

                        p.description= command.description

                        ul.arguments
                            for arg in command.args
                                li
                                    = arg[0] + ': '
                                    span= arg[1]