www/*.html
www/js/*.js
www/**/*.html
www/css/*.css
www/js/index.js
www/assets/challenges/descriptors
www/components/**/**
.tmp
node_modules
npm-debug.log
**.DS_Store
**.sublime-workspace
*.pyc
*.swp
dist
bower_components
