@keyframes pulsate

    0%
        transform scale(1)

    20%
        transform scale(1.1)

    100%
        transform scale(1)

@keyframes pulsate-highlight

    0%
        transform scale(1)
        background lighten(color-editor-bg, 10)

    5%
        transform scale(1.1)
        background color-blue

    20%
        transform scale(1)
        background lighten(color-editor-bg, 10)

body.online

    .animate-pulse
        animation pulsate 0.5s ease-out

    .animate-pulse-highlight
        animation pulsate-highlight 3s ease-out infinite

body.offline

    .animate-pulse-highlight
        background color-blue