header
    clearfix()
    background color-header
    padding 20px
    text-align center
    margin-bottom 20px

    a.logo
        display inline-block
        line-height header-height
        margin auto

        .logo-image
            illustration-fit-height 'layout/header-logo', header-height
            display inline-block
            float left

        .logo-title
            illustration-fit-height 'layout/draw-logo', header-height
            display inline-block
            float left
            margin-left 15px
            margin-top -2px

    ul.nav
        debullet()
        float right
        margin 2px
        font-size 16px

        &.nav-left
            float left

        &.nav-right
            float right

        li
            margin 0 15px
            float left

            &:first-child
                margin-left 0

            &:last-child
                margin-right 0

            a
                smooth-font()
                color color-white
                line-height header-height
                text-transform uppercase
                font-weight bold
                position relative
                top -2px
                opacity 0.2

                &:hover
                    opacity .7

                &.active
                    opacity 1
                    
                    i
                        opacity 1

            i
                opacity .5
                font-size 18px
                margin-right 5px
                position relative
                top 2px

                &.icon-game
                    zoom 1.2

            button.close
                background color-red
                font-size 18px
                width 25px
                height @width
                padding 0
                line-height @width

                &:hover
                    background lighten(color-red, 5)

    .user-display
        color color-white
        margin-top 10px
        display block
        
        .avatar
            width 35px
            height @width
            border-radius @width
            overflow hidden
            display inline-block
            margin -10px 10px
            
            img
                width @width + 2px
                height @width
                margin -1px
