header
    background color-header
    padding 15px
    clearfix()

    a.logo
        display inline-block
        float left
        line-height header-height

        .logo-image
            illustration-fit-height 'layout/header-logo', header-height
            display inline-block
            float left

        .logo-title
            illustration-fit-height 'layout/draw-logo', header-height
            display inline-block
            float left
            margin-left 15px
            margin-top -2px

    ul.nav-main
        debullet()
        float right
        margin 2px

        li
            margin-left 10px
            float left

            button.close
                background color-red
                font-size 18px
                width 38px
                height 38px
                line-height 38px
                padding 0

                &:hover
                    background lighten(color-red, 5)

    .user-display
        color color-white
        margin-top 10px
        display block
        
        .avatar
            width 35px
            height @width
            border-radius @width
            overflow hidden
            display inline-block
            margin -10px 10px
            
            img
                width @width + 2px
                height @width
                margin -1px