@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot?-czet1d');
    src:url('/fonts/icomoon.eot?#iefix-czet1d') format('embedded-opentype'),
        url('/fonts/icomoon.woff?-czet1d') format('woff'),
        url('/fonts/icomoon.ttf?-czet1d') format('truetype'),
        url('/fonts/icomoon.svg?-czet1d#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    smooth-font()
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}

.icon-autocomplete:before {
    content: "\e600";
}

.icon-code:before {
    content: "\e601";
}

.icon-colors:before {
    content: "\e602";
}

.icon-cross:before {
    content: "\e603";
}

.icon-draw:before {
    content: "\e604";
}

.icon-fullscreen:before {
    content: "\e605";
}

.icon-general:before {
    content: "\e606";
}

.icon-hint:before {
    content: "\e607";
}

.icon-lines:before {
    content: "\e608";
}

.icon-login:before {
    content: "\e609";
}

.icon-logout:before {
    content: "\e60a";
}

.icon-menu:before {
    content: "\e60b";
}

.icon-play:before {
    content: "\e60c";
}

.icon-plus:before {
    content: "\e60d";
}

.icon-position:before {
    content: "\e60e";
}

.icon-reset:before {
    content: "\e60f";
}

.icon-save:before {
    content: "\e610";
}

.icon-shapes:before {
    content: "\e611";
}

.icon-share:before {
    content: "\e612";
}

.icon-text:before {
    content: "\e613";
}

.icon-tick:before {
    content: "\e614";
}

.icon-trophy:before {
    content: "\e615";
}

.icon-wand:before {
    content: "\e616";
}

