@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot?3f7wqu');
    src:url('/fonts/icomoon.eot?#iefix3f7wqu') format('embedded-opentype'),
        url('/fonts/icomoon.woff?3f7wqu') format('woff'),
        url('/fonts/icomoon.ttf?3f7wqu') format('truetype'),
        url('/fonts/icomoon.svg?3f7wqu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

icon()
    smooth-font()
    font-family 'icomoon'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    position relative

[class^="icon-"], [class*=" icon-"] {
    icon()
}

.icon-zip:before {
    content: "\e903";
}

.icon-pdf-guide:before {
    content: "\e902";
}

.icon-mail:before {
    content: "\e901";
}

.icon-guide:before {
    content: "\e900";
}

.icon-mouse-pointer:before {
    content: "\e624";
}

.icon-campfire:before {
    content: "\e623";
}

.icon-menu:before {
    content: "\e614";
}

.icon-locked:before {
    content: "\e621";
}

.icon-unlocked:before {
    content: "\e622";
}

.icon-arrow-down:before {
    content: "\e600";
}

.icon-arrow-left:before {
    content: "\e601";
}

.icon-arrow-right:before {
    content: "\e602";
}

.icon-arrow-up:before {
    content: "\e603";
}

.icon-autocomplete:before {
    content: "\e604";
}

.icon-chevron-down:before {
    content: "\e605";
}

.icon-chevron-left:before {
    content: "\e606";
}

.icon-chevron-right:before {
    content: "\e607";
}

.icon-chevron-up:before {
    content: "\e608";
}

.icon-code:before {
    content: "\e609";
}

.icon-colors:before {
    content: "\e60a";
}

.icon-cross:before {
    content: "\e60b";
}

.icon-draw:before {
    content: "\e60c";
}

.icon-full-screen:before {
    content: "\e60d";
}

.icon-game:before {
    content: "\e60e";
}

.icon-general:before {
    content: "\e60f";
}

.icon-hint:before {
    content: "\e610";
}

.icon-lines:before {
    content: "\e611";
}

.icon-login:before {
    content: "\e612";
}

.icon-logout:before {
    content: "\e613";
}

.icon-play:before {
    content: "\e615";
}

.icon-plus:before {
    content: "\e616";
}

.icon-position:before {
    content: "\e617";
}

.icon-reset:before {
    content: "\e618";
}

.icon-save:before {
    content: "\e619";
}

.icon-shapes:before {
    content: "\e61a";
}

.icon-share:before {
    content: "\e61b";
}

.icon-text:before {
    content: "\e61c";
}

.icon-tick:before {
    content: "\e61d";
}

.icon-tooltips:before {
    content: "\e61e";
}

.icon-trophy:before {
    content: "\e61f";
}

.icon-wand:before {
    content: "\e620";
}