kano-nav
    z-index 8 !important

    .kano-nav.page-width
        width 100%

    ul.nav
        debullet()
        display flex
        display -webkit-flex
        font-size 16px

        &.nav-secondary
            justify-content flex-start
            -webkit-justify-content flex-start

            @media all and (max-width: 768px)
                align-items flex-start
                -webkit-align-items flex-start
                flex-direction column
                -webkit-flex-direction column

                li
                    font-size 24px
                    font-weight bold
                    padding 20px

            @media all and (min-width: 768px)
                align-items center
                -webkit-align-items center
                flex-direction row
                -webkit-flex-direction row
                justify-content flex-end
                -webkit-justify-content flex-end

                li
                    margin 0 15px

                    &:first-child
                        margin-left 0

                    &:last-child
                        margin-right 0

        &.nav-right
            align-items center
            -webkit-align-items center
            height 100%

            @media all and (min-width: 768px)
                flex-direction row
                -webkit-flex-direction row
                justify-content flex-end
                -webkit-justify-content flex-end

            @media all and (min-width: 978px)
                min-width 280px

            li
                margin-left 15px

        li
            i
                color color-ash
                font-size 18px
                margin-right 5px
                position relative
                top 2px

            a
                smooth-font()
                color color-ash
                line-height header-height
                font-weight bold
                position relative
                top -2px

                &.active
                    color color-charcoal

                    i
                        color color-orange

                &.signup
                    top 0

            button.close
                background color-red
                width 25px
                height @width
                line-height @width
                padding 0
                margin-top 5px

                i
                    font-size 9px
                    opacity 1
                    margin 0
                    position static

                &:hover
                    background lighten(color-red, 5)

        a.user-display
            color color-ash
            margin-top 0
            align-items center
            -webkit-align-items center
            display flex
            display -webkit-flex
            flex-direction row
            -webkit-flex-direction row
            justify-content space-around
            -webkit-justify-content space-around
            position relative
            margin-top 2px
            opacity 1

            .avatar
                width 35px
                height @width
                border-radius @width
                overflow hidden
                display inline-block
                margin -10px 10px

                img
                    width @width + 2px
                    height @width
                    margin -1px

            @media all and (max-width: 978px)
                .username
                    display none
