header-height = 45px

html body
    margin 0
    min-height 100%

body
    background color-bg

header
    background color-header
    padding 15px
    clearfix()

    a.logo
        display inline-block
        clearfix()
        line-height header-height

        .logo-image
            illustration-fit-height 'layout/header-logo', header-height
            display inline-block
            float left

        .logo-title
            display-inline block
            float left
            font-size 35px
            color color-white
            margin-left 15px
            font-weight 100
            margin-top -2px

.row
    grid-system()

.page-width
    page-width()

section
    display block
    padding 50px 0

.center
    text-align center

.left
    float left

.right
    float right