html body
    margin 0
    min-height 100%

body
    background color-bg

    &.dragging
        no-select()

.row
    grid-system()

.page-width
    page-width()
    position relative

section
    display block
    padding: 30px 0

    &:last-child
        margin-bottom 0

.center
    text-align center

.left
    float left

.right
    float right

.hidden
    display none

.transparent
    opacity 0
    position absolute

img.invert
    -webkit-filter: invert(100%);
    filter: invert(100%);

.kano-logo
    bg-image('layout/kano-logo', 127px 50px, center center, no-repeat)
    border-radius(0 0 5px 5px)
    position fixed
    bottom 10px
    right 10px
    width 127px
    height 50px
    padding 5px
    background-color color-bg

    &:before
        border-radius(5px 5px 0 0)
        no-select()
        content 'Powered by'
        position absolute
        bottom 100%
        left 0
        width: 100%
        text-align center
        color color-white
        background color-bg
        padding-top 3px
        font-size 12px

.kano-feedback
    position fixed
    bottom 25px
    right 150px
    padding 5px
    
.banner
    banner(color-orange, #fff)
