page-width()
    max-width 940px
    margin-left auto
    margin-right auto

absolute-cover()
    position absolute
    left 0
    top 0
    width 100%
    height 100%

border-radius(radius = 3px)
    border-radius radius