font-heading = 'Proxima Nova Soft', Helvetica, Arial, sans-serif
font-body = 'Museo Sans', Helvetica, Arial, sans-serif
font-special = 'Ganache', Helvetica, Arial, sans-serif
font-code = Monaco, monospace

color-bg = #f5f5f5
color-primary = #a0be7c
color-white = #f5f5f5

color-ruler = rgba(#000, .06)
color-ruler-inverse = rgba(#fff, .2)

color-type-body = #555
color-type-heading = darken(color-primary, 15%)
color-type-link = darken(color-primary, 6%)