font-heading = 'Proxima Nova Soft', Helvetica, Arial, sans-serif
font-body = 'Museo Sans', Helvetica, Arial, sans-serif
font-special = 'Ganache', Helvetica, Arial, sans-serif
font-code = Monaco, monospace

color-green = #a0be7c
color-red = #df491a

color-bg = #f5f5f5
color-primary = color-green
color-white = #f5f5f5

color-success = color-primary
color-danger = color-red

color-ruler = rgba(#000, .06)
color-ruler-inverse = rgba(#fff, .2)

color-type-body = #555
color-type-heading = darken(color-primary, 15%)
color-type-link = darken(color-primary, 6%)

color-language-keyword = rgba(#eeceeb, .4)
color-language-string = #df491a
color-language-number = #3e93db
color-language-identifier = color-primary