display
    display block
    width 100%
    padding-top 100%
    position relative

    canvas
        absolute-cover()
        background #fff
        border-radius()

    .error-display
        background color-red
        text-align center
        position absolute
        left 0
        top 0
        width 100%
        height @width
        box-sizing border-box
        padding 35% 20px 0

        &, h3
            color color-white

        h3
            margin-bottom 10px

        p
            font-size 20px

    .toolbar
        position absolute
        bottom 0
        left 0
        right 0
        padding 10px

        .position-indicator
            lineheight=58px
            fontsize=14px

            position absolute
            bottom 0
            right ((lineheight - fontsize) / 2)
            line-height lineheight

            text-transform: uppercase;
            color darken(color-mid-grey, 5)
            font-size fontsize
            pointer-events none

            &:before
                content '+'
                font-size 20px
                width 20px
                height 20px
                font-weight bold
                padding-right 10px

            .pos-value
                position relative
                display inline-block
                width 30px
                margin-left 3px


