editor-tag(color=color-primary, color-text=#fff)
    background color
    padding 2px
    margin 0 -2px
    border-radius()
    color color-text
    font-weight bold

editor
    min-height 460px
    display block
    border-radius()

    &.disabled
        background #eee

        .ace_cursor
            display none

        > *
            opacity .3

    &.completed
        background mix(#fff, color-success, 20%)

        > *
            opacity .4

    &.ace_editor
        line-height 26px
        font-size 15px
        background color-grey

        .ace_gutter
            background color-editor-gutter

        .ace_content .ace_line

            .ace_comment
                color #aaa

            .ace_keyword
                editor-tag(color-language-keyword, color-black)

            .ace_string
                editor-tag(color-language-string)

            .ace_numeric
                editor-tag(color-language-number)

            .ace_identifier
                editor-tag(color-language-identifier)

            .ace_language
                editor-tag(color-language-language)

        .ace_gutter-cell
            font-weight bold
            color color-white

        .ace_gutter-active-line
            background darken(color-editor-gutter, 5)

        .ace_marker-layer .ace_selection
            background color-editor-selection
