editor-tag(color=color-primary, color-text=#fff)
    background color
    padding 2px
    margin 0 -2px
    border-radius()
    color color-text

autocomplete-tag(color)
    color color

body.full-screen-editor
    overflow hidden

    .editor-area
        position fixed
        left 0
        top 0
        width 100%
        height 100%
        z-index 5
        
    display
        position fixed
        right 10px
        top 10px
        z-index 5
        width 460px
        height @width
        padding-top 0
        
    .controls
        position fixed

editor
    display block
    height 100%
    position relative
    
    .controls
        position absolute
        z-index 1
        right 10px
        bottom 10px
        z-index 8

        a
            width 40px
            height @width
            line-height @width
            text-align center
            background-color #585858
            display inline-block
            border-radius()
            transition background-color .2s
            margin-left 10px
        
            &:hover
                background-color #333

            &.active
                background-color #aaa
                
                &:hover
                    background-color #bbb

        .button-full-screen
            bg-image-sized 'button-icons/full-screen', center center, no-repeat

        .button-autocomplete
            bg-image-sized 'button-icons/autocomplete', center center, no-repeat

    .editor-area
        border-radius()
        min-height 460px
        height 100%
        
        &.full-screen

        &.disabled
            background #eee

            .ace_cursor
                display none

            > *
                opacity .3

        &.completed
            background mix(#fff, color-success, 20%)

            > *
                opacity .4

        &.ace_editor
            line-height 26px
            font-size 15px
            background color-grey

            .ace_gutter
                background color-editor-gutter
                
            .ace_gutter-cell
                font-weight bold
                color color-white

            .ace_gutter-active-line
                background darken(color-editor-gutter, 5)

            .ace_marker-layer .ace_selection
                background color-editor-selection

            .ace_print-margin
                background rgba(#fff, .2)
                display none
                
            .ace_content .ace_line
                .ace_comment
                    color #aaa

                .ace_keyword
                    editor-tag(color-language-keyword, color-black)

                .ace_string
                    editor-tag(color-language-string)

                .ace_numeric
                    editor-tag(color-language-number)

                .ace_identifier
                    editor-tag(color-language-identifier)

                .ace_language
                    editor-tag(color-language-language)
                
.ace-dawn.ace_editor.ace_autocomplete
    border-radius()
    background color-black
    border 0
    color color-white
    box-shadow none
    
    .ace_content .ace_line
        
        .ace_command
            autocomplete-tag(color-language-identifier)

        .ace_color
            autocomplete-tag(color-language-string)

        &.ace_selected

            span
                color color-white
                
    .ace_marker-layer .ace_active-line
        background color-orange
        
    .ace_marker-layer .ace_line-hover
        background rgba(color-white, .2)
        border 0
        padding-top 1px