.tutorial-wrap
    position relative

.tutorial-display
    absolute-cover()
    bg-inverse()
    box-sizing border-box
    padding 20px
    font-size 20px
    border-radius()

    .content
        margin-bottom 20px

    .button-next
        position absolute
        right 20px
        bottom 20px
        margin 0