.close-button(ng-click='close()') &times;
.auth-form(ng-cloak)
    h3 {{mode === 'login' ? '${{ directive.login_to_your_account }}$' : '${{ directive.create_your_account }}$'}}
    kano-login-form#kano-login-form(ng-show="mode === 'login'")
    kano-signup-form#kano-login-form(ng-show="mode === 'signup'")
