.draw-display

    .display: .padded: .inner

        canvas(
            ng-mousemove='displayMousePos($event)',
            ng-mouseleave='displayCoordsPos()'
            )

        .cursor(ng-style='{ left: cursorPosition.x + "px", top: cursorPosition.y + "px" }')

        .error-display(ng-if='error', ng-class='"error-" + error.type')

            h3
                | {{ error.type | upperfirst }} Error 
                span(ng-if='error.row !== null') on line {{ error.row + 1 || 0  }}

            p {{ error.text || 0 }}

    .actions
        
        .position-indicator
            i(ng-class="{'icon-mouse-pointer': mouse, 'icon-plus': !mouse}")
            |  x: {{ coordsPosition.x }} y: {{ coordsPosition.y }}

        a.action.action-share(ng-if='mode === "playground" || sharing', ng-click='setOpenModal("share")')
            i.icon-share
            |  Share

        a.action.action-save(ng-if='mode === "playground"', ng-click='save()')
            i.icon-save
            |  Save

        a.action.action-reset(ng-if='mode === "challenge"', ng-click='resetCode()')
            i.icon-reset
            |  Reset

        .action.action-load(ng-show='mode === "playground"')
            i.icon-arrow-up
            |  Load
            input.file-load(type='file', accept='.draw')

        export-modal(display='this', action='"save"')
        export-modal(display='this', action='"share"')

        //- span(ng-controller='LoadDialogController' ng-if='offline')
            a.button(ng-click='openDialog()') Load

            include partial/load
