.modal-overlay(ng-if='open'): .modal-inner.export-menu

    button.close(ng-click='close()') &times;
    h2.center {{ action === 'share' ? 'save to gallery' : 'save drawing' }}

    .row

        form(ng-submit='submit()' name='exportForm')
            .box.box-danger(ng-if='error') {{ error }}

            .col-6
                img.created-image(ng-src='{{ imageURL }}')

            .col-6
                input.filename(ng-model='meta.title', placeholder='Title', type='text', required)
                textarea.description(ng-model='meta.description', placeholder='Description')

                .buttons

                    if offline
                        button.export-wallpaper(ng-click='exportWallpaper()', ng-disabled='exportForm.$invalid', ng-class='{ "disabled" : exportForm.$invalid }') Save Wallpaper

                    button.button-success(type='submit', ng-disabled='exportForm.$invalid', ng-class='{ "disabled" : exportForm.$invalid }', ng-if='!loading')
                        i(ng-class='"icon-" + action')
                        |  Save

                    button.button-success.skip(ng-if='optional && !loading && !loggedIn', ng-click='skipSharing()') Skip
                    
                    .spinner(ng-if='loading')