.modal-overlay(ng-if='open'): .modal-inner.export-menu

    button.close(ng-click='close()') &times;
    h2.center {{ action }} drawing

    .row

        form(ng-submit='submit()' name='exportForm')
            .box.box-danger(ng-if='error') {{ error }}

            .col-6
                img.created-image(ng-src='{{ imageURL }}')

            .col-6
                input.filename(ng-model='meta.title', placeholder='Title', type='text', required)
                textarea.description(ng-model='meta.description', placeholder='Description')

                .buttons

                    if offline
                        button.export-wallpaper(ng-click='exportWallpaper()', ng-disabled='exportForm.$invalid', ng-class='{ "disabled" : exportForm.$invalid }') Save Wallpaper

                    button.button-success(type='submit', ng-disabled='exportForm.$invalid', ng-class='{ "disabled" : exportForm.$invalid }')
                        i(ng-class='"icon-" + action')
                        |  {{ action }}

                    //- a.button.button-email(ng-click='sendMail()')
                    //-     img(src='/assets/button-icons/email.png' title='Share via Email')

                    //- a.button.button-facebook(ng-click='facebookShare()')
                    //-     img(src='/assets/button-icons/facebook-white.png' title='Share on Facebook')

                    
                    //- a.button.button-twitter(target='_new', type="button", href="https://twitter.com/intent/tweet?text=I%E2%80%99ve+signed+up+to+start+hacking+challenges+with+code+for+%23MischiefWeek%21+http://www.kano.me/mischiefweek")
                    //-     img(src='/assets/button-icons/twitter-white.png' title='Share on Twitter')
