
<div ng-if="mailPreview" class="modal-overlay">
  <div class="modal-inner modal-mail-preview center">
    <button ng-click="closePreview()" class="close"><i class="icon-cross"></i></button>
    <div class="preview">
      <div class="header">Compartir vía correo electrónico</div>
      <h4>"{{ selectedSummerChallengeObj.shareTitle }}"</h4>
      <div class="content">
        <div class="left-content">
          <input type="email" ng-model="selectedSummerChallengeObj.email" placeholder="Ingresa un correo electrónico"/>
          <textarea ng-model="selectedSummerChallengeObj.message" placeholder="¡Acabo de programar esto! ¿Quieres intentarlo? Es fácil y divertido para cualquiera"></textarea>
          <input type="text" ng-model="selectedSummerChallengeObj.name" placeholder="Tu nombre..."/>
        </div>
        <div class="right-content">
          <div class="pic"><img ng-src="{{selectedSummerChallengeObj.img}}" ng-if="!selectedSummerChallengeObj.cover_url"/><img ng-src="{{selectedSummerChallengeObj.cover_url}}" ng-if="selectedSummerChallengeObj.cover_url"/></div><a ng-click="sendMail(selectedSummerChallengeObj)" class="button button-success">Enviar</a>
        </div>
      </div>
    </div>
  </div>
</div>