doctype html
html(lang='en', ng-app='draw')
    head
        //- Generic
        meta(charset='UTF-8')

        //- Mobile options
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='orange')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')

        //- Styles
        link(href='/css/main.css', rel='stylesheet', type='text/css')

        title Draw with code

    body
        header: .page-width
            a.logo(href='/')
                span.logo-image
                span.logo-title

            ul.nav-main
                li: a.button.button-success(href='/') Examples
                li: a.button.button-success(href='#', ng-click='menuOpen = !menuOpen') Challenges
                li: a.button(href='/playground') Playground
        ng-view

        .modal-overlay(ng-show='menuOpen'): .modal-inner.levels-menu
            div.challenge-info
                h6.center CHALLENGE {{ lastChallengeVisited.get() }} OF {{ levels.length }}
                h2.center {{ levels[lastChallengeVisited.get() - 1].title }}
                h4.center {{ levels[lastChallengeVisited.get() - 1].description }}
                div.center
                    a.button(ng-href='/level/{{ lastChallengeVisited.get() }}') GO!
            ul.levels-list.bottom-section
                li(ng-repeat='level in levels'
                   ng-controller='challengeMenuItem')
                    a.button(ng-href="{{ isLocked() ? '' : '/level/' + challengeNo }}"
                             ng-class="{ 'locked' : isLocked() }") {{ challengeNo }}
                    div.challenge-title {{ level.title.toUpperCase() }}
                li
                    a.button.playground(ng-href='/playground') Playground
                    div.challenge-title BE CREATIVE

        //- Vendor
        script(src='/js/vendor/angular.min.js', type='text/javascript')
        script(src='/js/vendor/angular-route.min.js', type='text/javascript')
        script(src='/js/vendor/ace/ace.js', type='text/javascript')

        //- App
        script(src='/js/index.js', type='text/javascript')

        //- Livereload
        if !production
            script(src='http://localhost:35729/livereload.js?snipver=1', type='text/javascript')

        script(type='text/javascript').
            window.CONFIG = { PRODUCTION: #{production} };
