doctype html
html(lang='en', ng-app=ngApp)
    head
        //- Generic
        meta(charset='UTF-8')
        link(rel='canonical', href='http://www.kano.me')

        //- Mobile options
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='orange')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')

        //- Styles
        link(href='css/main.css', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lemon', rel='stylesheet', type='text/css')

        title Draw with code

    body
        section: .page-width

            h1.center Draw with code!

            .row
                .col-6
                    div#editor!= getCodeExample('default')

                .col-6
                    .display-wrap: canvas#display

            include partials/docs

        //- Vendor
        script(src='js/vendor/ace/ace.js', type='text/javascript')

        //- App
        script(src='js/app.js', type='text/javascript')

        //- Livereload
        if !production
            script(src='http://localhost:35729/livereload.js?snipver=1', type='text/javascript')