doctype html
html(lang='en', ng-app='draw')
    head
        //- Generic
        meta(charset='UTF-8')

        //- Mobile options
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='orange')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')

        //- Styles
        link(href='/css/main.css', rel='stylesheet', type='text/css')

        title Draw

    body
        header: .page-width
            a.logo(href='/')
                span.logo-image
                span.logo-title

            ul.nav-main
                li: a.button.button-success(href='/') Examples
                li: a.button.button-success(href='#', ng-click='menuOpen = !menuOpen') Challenges
                li: a.button(href='/playground') Playground
                li: button.close(ng-click='shutdown()', ng-if='offline') &times;
                li(ng-if='!offline && !loggedIn'): a.button(href='#', ng-click='login()') Login
                li(ng-if='!offline && loggedIn'): a.button(href='#', ng-click='logout()') Logout
                li(ng-if='!offline && loggedIn')
                    a.user-display(ng-href='http://world.kano.me/users/{{ user.username }}', target='_blank')
                        .avatar: img(ng-src='http://avatar.kano.me/username/{{ user.username }}.png')
                        | {{ user.username }}
        ng-view

        include partial/splash
        include partial/challenge-menu

        //- Vendor
        script(src='/js/vendor/angular.min.js', type='text/javascript')
        script(src='/js/vendor/angular-route.min.js', type='text/javascript')
        script(src='/js/vendor/ace/ace.js', type='text/javascript')

        script(type='text/javascript').
            window.KANO_WORLD_CONFIG = {
                TEST_MODE : #{!production}
            };

            window.CONFIG = {
                PRODUCTION : #{production},
                OFFLINE    : #{offline}
            };

        //- App
        script(src='/js/index.js', type='text/javascript')

        //- Livereload
        if !production
            script(src='http://localhost:35729/livereload.js?snipver=1', type='text/javascript')
