doctype html
html(lang='en', ng-app=ngApp)
    head
        //- Generic
        meta(charset='UTF-8')
        link(rel='canonical', href='http://www.kano.me')

        //- Mobile options
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='orange')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')

        //- Styles
        link(href='/css/main.css', rel='stylesheet', type='text/css')

        title Draw!

    body
        //- Scripts
        script(src='/js/app.js', type='text/javascript')