section.page-level(ng-class='"mode-" + mode'): .page-width

    .row
        .col-6.editor-wrap
                editor(
                    ng-model='code',
                    ng-class='{ completed: completed, disabled: mode == "reading" }',
                    ng-change='validate()',
                    editable='mode=="coding"'
                    )

        .col-6.tutorial-wrap
                display(ng-source='code')

                .tutorial-display(ng-if='mode=="reading"')

                    h3.ruled.center {{ content.title }}

                    div.content(ng-bind-html='slides[slide] | markdown')

                    .center
                        button.button-inverse.button-next.large(ng-click='nextSlide()', ng-show='slide < slides.length - 1') Next
                        button.button-inverse.button-next.large(ng-click='doneReading()', ng-show='slide >= slides.length - 1') Make it

                .success-display(ng-show='completed && hasNext')
                    h3 Level completed!
                    a.button.button-inverse-success.large(ng-href='/level/{{id + 1}}') Next &rsaquo;

                .success-display(ng-show='completed && !hasNext')
                    h3 Tutorial completed!!!
                    a.button.button-inverse-success.large(href='/') Sandbox &rsaquo;

    include partial/docs