.page-levels: .page-width

    h3.page-title
        i.icon-menu
        | Challenges

    ul.levels-list

        li(ng-repeat='level in levels')
            a(
                href='/level/{{ $index + 1 }}',
                ng-class='{ locked: isLocked($index), completed: isCompleted($index), current: isCurrent($index) }'
                )

                .cover(ng-style='{ "background-image": "url(/assets/levels/" + level.id + ".png)" }')

                .detail
                    h5 {{ level.title }}