section.page-level: .page-width

    .row
        .col-6
            .editor-wrap
                editor(ng-model='code', ng-change='validate()', editable='mode=="coding"')
                .box.box-success(ng-show='completed && hasNext')
                    h4.left Level completed!
                    .right: a.button.button-inverse(href='#') Next &rsaquo;
                .box.box-success(ng-show='completed && !hasNext')
                    h4.left Tutorial completed!!!
                    .right: a.button.button-inverse(href='/') Sandbox &rsaquo;
        .col-6
            .tutorial-wrap
                display(ng-source='code')

                .tutorial-display(ng-if='mode=="reading"')

                    h3.ruled.center {{ content.title }}

                    div.content(ng-bind-html='content.slides[slide] | markdown')

                    hr

                    .center
                        button.button-inverse.large(ng-click='nextSlide()', ng-show='slide < content.slides.length - 1') Next
                        button.button-inverse.large(ng-click='doneReading()', ng-show='slide >= content.slides.length - 1') Done


    include partial/docs