section: .page-width

    h2.center Draw with Code!
    h4.center Code can be simple and fun to learn, and you can use it to do creative things.

    h5.center Check out some examples:

    include partial/examples

    .center
        a.button.button-success(href='/challenges').success Learn
        a.button(href='/playground') Playground
