.summer-camp: .page-width

    h3.page-title
        i.icon-campfire
        | Summer Camp is starting in

    .countdown.center(ng-if='!loading')
        span.days(ng-if='days') {{ days }} {{ days == 1 ? 'Day' : 'Days' }}
        span.days(ng-if='!days') {{ hours + ' : ' + minutes + ' : ' + seconds }}
        h3 Come back August 10th for challenges!

    //- .center
    //-     a.button.button-success(href='http://www.kano.me/summercamp') Enroll Now!