.summer-camp: .page-width

    h3.page-title
        i.icon-menu
        | Summer Camp

    a.button(ng-click='register = true') Register
    a.button.right(href='/summer-camp/calendar') View Calendar

.modal-overlay(ng-if='register')
    .modal-inner.modal-register.center

        button.close(ng-click='closeModal()'): i.icon-cross

        .register-form

            h3 Register For Summer Camp

            input.block(type='text' placeholder='Enter your email address')

            input.block(type='text' placeholder='Enter your kid\'s email address')

            input.block(type='text' placeholder='Enter your kid\'s username')

            a.button.button-success Register