.summer-camp: .page-width

    h3.page-title
        i.icon-menu
        | Summer Camp Calendar

    a.button(ng-click='register = true') Register

    ul.calendar
        li.weekdays(ng-repeat='weekday in weekdays') {{weekday}}
        li.day(ng-repeat='day in range(21)') 
            a(
                ng-click='selectChallenge(day)',
                ng-class='{ locked: isLocked(day), completed: isCompleted(day), current: isCurrent(day) }',
                )
                .cover(style='background-image: url("/assets/challenges/playground.png")')
                    span  {{day}}
                .detail
                    h5 Challenge {{ day }}

.modal-overlay(ng-if='selectedSummerChallenge')
    .modal-inner.modal-challenge-info.center

        .cover(style='background-image: url("/assets/challenges/playground.png")')

        button.close(ng-click='deselectedChallenge()'): i.icon-cross

        .detail

            h3 Day {{ selectedSummerChallenge }}

            p.description Challenge {{ selectedSummerChallenge }}

            a.button.button-success(ng-href='/summer-camp/challenge/{{ selectedSummerChallenge }}') Start

.modal-overlay(ng-if='register')
    .modal-inner.modal-register.center

        button.close(ng-click='closeModal()'): i.icon-cross

        .register-form

            h3 Register For Summer Camp

            input.block(type='text' placeholder='Enter your email address')

            input.block(type='text' placeholder='Enter your kid\'s email address')

            input.block(type='text' placeholder='Enter your kid\'s username')

            a.button.button-success Register