.summer-camp: .page-width

    h3.page-title
        i.icon-menu
        | Summer Camp Calendar

    ul.calendar
        li.weekdays(ng-repeat='weekday in weekdays') {{weekday}}
        li.day(ng-repeat='day in range(21)') 
            a(
                ng-click='selectChallenge(day)',
                ng-class='{ locked: isLocked(day) && !currentDay(day), completed: isCompleted(day), current: isCurrent(day), unlocked: currentDay(day) }',
                )
                .cover(style='background-image: url("/assets/challenges/playground.png")')
                    span  {{day + 1}}
                .detail
                    h5 Challenge {{ day + 1 }}
    span {{ days }} {{ days == 1 ? 'day' : 'days' }}
    span {{ hours }} {{ hours == 1 ? 'hour' : 'hours' }}
    span {{ minutes }} {{ minutes == 1 ? 'second' : 'minutes' }}
    span {{ seconds }} {{ seconds == 1 ? 'second' : 'seconds' }}


.modal-overlay(ng-if='selectedSummerChallenge')
    .modal-inner.modal-challenge-info.center

        .cover(style='background-image: url("/assets/challenges/playground.png")')

        button.close(ng-click='deselectedChallenge()'): i.icon-cross

        .detail

            h3 Day {{ selectedSummerChallenge }}

            p.description Challenge {{ selectedSummerChallenge }}

            a.button.button-success(ng-href='/summer-camp/challenge/{{ selectedSummerChallenge }}') Start
