.summer-camp: .page-width

    .challenge-info(ng-if='selectedSummerChallenge !== null')
            .pic
                img(src='{{selectedSummerChallengeObj.img}}')
            .detail

                h4 August {{selectedSummerChallengeDay| ordinal}}
                h3 {{ selectedSummerChallengeObj.title }}

                div.description(ng-bind-html='selectedSummerChallengeObj.description | markdown ')
                .diff-container
                    span.cont-label DIFFICULTY
                    .difficulty-level(data-level='{{ "l-" + selectedSummerChallengeObj.difficulty }}')

                        span.l-easy
                        span.l-medium
                        span.l-hard
                .rewards-container 
                    span.cont-label(ng-if='selectedSummerChallengeObj.rewards') REWARDS
                    .rewards-icons(ng-if='selectedSummerChallengeObj.rewards')
                        a(class='rew-wallpaper', ng-if='selectedSummerChallengeObj.rewards.wallpaper', href='http://www.kano.me/summercamp-faq#extracontent', title='This special content is exclusive to Kano Kit owners. To access, turn on your kit and make sure it is connected to WiFi.')
                        a(class='rew-outfit',  ng-if='selectedSummerChallengeObj.rewards.outfit', href='http://www.kano.me/summercamp-faq#extracontent', title='This special content is exclusive to Kano Kit owners. To access, turn on your kit and make sure it is connected to WiFi.')

                .btn-container
                    a.button(ng-if="!started" ng-href='/summercamp/challenge/{{ selectedSummerChallenge + 1 }}') Start Making
                    a.button.button-success(ng-if="started" ng-href='/summercamp/challenge/{{ selectedSummerChallenge + 1 }}') Continue

    div.sc-calendar
        h2 Camp Calendar
        h4 August
        ul.calendar
            li.weekdays(ng-repeat='weekday in weekdays') {{weekday}}
            li.day(ng-repeat='day in range(21)') 
                a(
                    ng-click='selectChallenge(day)',
                    ng-class='{ locked: isLocked(day) && !currentDay(day), completed: isCompleted(day), current: isCurrent(day), unlocked: currentDay(day) }',
                    )
                    {{summerc}}
                    .cover(ng_class='{".challenge" + day}')
                        span  {{day + 10}}
                    .detail
                        h5  {{currentDay(day) || !isLocked(day) ?  summerCampChallenges[day].short_title || summerCampChallenges[day].title : "&nbsp;"}}
        span {{ days }} {{ days == 1 ? 'day' : 'days' }}
        span {{ hours }} {{ hours == 1 ? 'hour' : 'hours' }}
        span {{ minutes }} {{ minutes == 1 ? 'second' : 'minutes' }}
        span {{ seconds }} {{ seconds == 1 ? 'second' : 'seconds' }}