.summer-camp: .page-width

    h3.page-title
        i.icon-menu
        | Summer Camp Calendar

    .challenge-info(ng-if='selectedSummerChallenge !== null')
            .pic
                img(src='{{selectedSummerChallengeObj.img}}')
            .detail

                h4 August {{selectedSummerChallengeDay| ordinal}}
                h3 {{ selectedSummerChallengeObj.title }}

                div.description(ng-bind-html='selectedSummerChallengeObj.description | markdown ')
                span.difficulty DIFFICULTY
                .difficulty-level(data-level='{{ "l-" + selectedSummerChallengeObj.difficulty }}')

                    span.l-easy
                    span.l-medium
                    span.l-hard
                a.button(ng-if="!started" ng-href='/summercamp/challenge/{{ selectedSummerChallenge + 1 }}') Start Making
                a.button.button-success(ng-if="started" ng-href='/summercamp/challenge/{{ selectedSummerChallenge + 1 }}') Continue

    ul.calendar
        li.weekdays(ng-repeat='weekday in weekdays') {{weekday}}
        li.day(ng-repeat='day in range(21)') 
            a(
                ng-click='selectChallenge(day)',
                ng-class='{ locked: isLocked(day) && !currentDay(day), completed: isCompleted(day), current: isCurrent(day), unlocked: currentDay(day) }',
                )
                .cover(style='background-image: url("/assets/challenges/playground.png")')
                    span  {{day + 1}}
                .detail
                    h5 Challenge {{ day + 1 }}
    span {{ days }} {{ days == 1 ? 'day' : 'days' }}
    span {{ hours }} {{ hours == 1 ? 'hour' : 'hours' }}
    span {{ minutes }} {{ minutes == 1 ? 'second' : 'minutes' }}
    span {{ seconds }} {{ seconds == 1 ? 'second' : 'seconds' }}