
<header>
  <div ng-if="offline || !selectedWorld || !selectedWorld.display_menu" class="main-navigation page-width"><a href="/" class="logo"><img ng-src="{{ _config.UI_ROOT + &quot;assets/layout/draw-logo@2x.png&quot; }}" alt="main logo"/></a>
    <ul class="nav nav-left">
      <li><a href="/challenges" ng-class="{ active: basePath === &quot;challenge&quot; || basePath === &quot;challenges&quot; }"><i class="icon-menu"></i>${{ challenges.challenges }}$</a></li>
      <li><a href="/playground" ng-class="{ active: basePath === &quot;playground&quot; }"><i class="icon-game"></i>${{ challenges.playground }}$</a></li>
    </ul>
    <ul ng-cloak="ng-cloak" class="nav nav-right">
      <li class="discover"><a ng-if="!offline" id="discover-kano" href="http://world.kano.me/start" target="_blank"><i class="icon-cpu"></i>${{ partial.discover_kano }}$</a></li>
      <li ng-if="!offline &amp;&amp; !loggedIn"><a href="" ng-click="auth.openModal(&quot;login&quot;)"><i class="icon-login"></i>${{ partial.login }}$</a></li>
      <li ng-if="!offline &amp;&amp; !loggedIn"><a href="" ng-click="auth.openModal(&quot;signup&quot;)" class="signup">${{ partial.signup }}$</a></li>
      <li ng-if="!offline &amp;&amp; loggedIn"><a ng-href="http://world.kano.me/users/{{ user.username }}" target="_blank" class="user-display">
          <div class="avatar"><img ng-src="{{ user.avatar.urls.circle || cfg.DEFAULT_AVATAR }}"/></div>{{ user.username }}</a></li>
      <li ng-if="!offline &amp;&amp; loggedIn"><a href="" ng-click="logout()"><i class="icon-logout"></i>${{ partial.logout }}$</a></li>
      <li>
        <button ng-click="shutdown()" ng-if="offline" class="close"><i class="icon-cross"></i></button>
      </li>
    </ul>
  </div>
</header>
<!-- Uncomment to enable banner-->
<!-- include banner-->
<div class="page-challenge">
  <div class="page-width">
    <div ng-class="(animationClass || &quot;&quot;) + (completed ? &quot; success&quot; : &quot;&quot;) + (fatherDay ? &quot; father-day&quot; : &quot;&quot;)" class="workspace-header">
      <div ng-if="!started" class="inner center">
        <h3>${{ challenge.challenge_title }}$ {{ challenges[ id - 1 ].title }}</h3>
        <h4>{{ challenges[ id - 1 ].description }}</h4>
        <button ng-click="start()" class="button-success">${{ challenge.start }}$</button>
      </div>
      <div ng-if="started &amp;&amp; !completed" class="inner">
        <div class="hint-container">
          <div class="hint-content">
            <div class="progress-circle-image">
              <progress-circle value="step" max="content.steps.length"></progress-circle>
            </div>
            <div class="inner-text">
              <h3>{{ challenges[ id - 1 ].title }}</h3>
              <h4 ng-bind-html="hint | markdown" ng-if="hint" class="hint"></h4>
            </div>
          </div>
          <div class="button-container"><a ng-click="toggleSolution()" ng-class="{ active: showSolution, &quot;animate-pulse-highlight&quot;: highlightHelp }" class="button button-hint large right"><i class="icon-hint"></i>${{ challenge.hint }}$</a></div>
        </div>
      </div>
      <div ng-if="completed &amp;&amp; !fatherDay" class="inner center">
        <div class="completion">
          <div class="text">
            <h4 ng-if="offline">${{ challenge.success_offline }}$</h4>
            <h4 ng-if="!offline">${{ challenge.success_online }}$</h4><a ng-click="goToNext()" class="button button-success">{{ next ? '${{ challenge.next }}$' : '${{ challenge.done }}$' }} &rsaquo;</a>
          </div>
          <div ng-if="content.gallery" class="gallery">
            <h4>${{ challenge.can_you_hack_this_challenge }}$</h4>
            <div class="remixes">
              <div ng-repeat="remix in content.gallery.remixes" ng-style="{&quot;background-image&quot;: &quot;url(&quot; + content.gallery.cover_path + remix + &quot;)&quot;}" class="image"></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="completed &amp;&amp; fatherDay" class="inner center">
        <div ng-if="!user"><img src="/assets/layout/father-day-closed.png"/>
          <h4>${{ challenge.make_it_into_a_fathers_day_card }}$</h4>
          <p>${{ challenge.now_sign_up_to_kano_world_to_share_your_creation }}$</p><a ng-click="login()" href="#" class="button large button-success">Log In / Sign Up</a>
        </div>
        <div ng-if="user"><img src="/assets/layout/father-day-open.png"/>
          <h4>${{ challenge.share_your_fathers_day_card }}$</h4>
          <p>${{ challenge.now_you_can_share_the_card_on_kano_world }}$</p><a ng-click="shareFatherDay()" href="#" class="button large button-success">Share it!</a>
        </div>
      </div>
    </div>
    <div ng-if="started" class="row">
      <div class="col-6 editor-wrap">
        <editor workspace="workspace" ng-model="challenge.code" ng-class="{ completed: completed }" ng-change="validate()" editable="started" start-at-line="content.startAt" tabbed="true" controls="true"></editor>
      </div>
      <div class="col-6 tutorial-wrap">
        <display reset-fn="restart" source="challenge.code" workspace="workspace" mode="&quot;challenge&quot;" sharing="completed" ng-class="{ disabled: !started }" ng-show="!showSolution"></display>
        <editor ng-if="showSolution &amp;&amp; solution" ng-model="solution" title="&quot;${{ challenge.solution }}$&quot;" class="solution">{{ solution }}</editor>
      </div>
    </div>
    <div ng-if="gameCompleteOpen" class="modal-overlay">
      <div ng-if="selectedWorld.id !== &quot;hourofcode&quot;" class="modal-inner split-modal challenge-complete center">
        <h3>${{ challenge.challenges_completed }}$</h3>
        <h4 ng-if="!unlockedWorld">${{ challenge.now_make_something_new }}$</h4>
        <h4 ng-if="unlockedWorld">${{ challenge.new_world_unlocked_play_now }}$<a href="/challenges/{{ unlockedWorld.id }}" class="button unlocked">{{ unlockedWorld.name }}</a></h4>
        <div class="logo-title"></div>
        <div class="center bottom-section"><a ng-href="/challenges" class="button secondary large"><i class="icon-menu"></i> ${{ challenge.menu }}$</a><a ng-href="/playground" class="button large"><i class="icon-game"></i> ${{ challenge.playground }}$</a></div>
      </div>
      <div ng-if="selectedWorld.id === &quot;hourofcode&quot;" class="modal-inner split-modal challenge-complete center">
        <h3>${{ challenge.challenges_completed }}$</h3>
        <h4>${{ challenge.you_did_it_go_back_for_more_coding_fun }}$</h4>
        <div class="hour-of-code-logo"></div>
        <div class="center bottom-section"><a href="http://code.org/learn" class="button large"><i class="icon-game"></i> ${{ challenge.hour_of_code }}$</a></div>
      </div>
    </div>
  </div>
</div>
<div ng-if="nextModal" class="modal-overlay flexcenter-top">
  <div class="modal-inner modal-next-challenge center">
    <div ng-style="{ &quot;background-image&quot;: &quot;url(&quot; + _config.UI_ROOT + &quot;assets/challenges/images/&quot; + next.cover +&quot;)&quot; }" class="cover"></div>
    <button ng-click="closeNextModal()" class="close"><i class="icon-cross"></i></button>
    <div class="detail">
      <div class="title">${{ partial.next_up }}$<span>{{ next.title }}</span><a ng-href="/challenges/{{selectedWorld.id}}" ng-if="next.locked" class="button button-success">{{ selectedWorld ? ${{ partial.back_to_world }}$ : '${{ challenge.menu }}$' }}</a><a ng-href="/challenge/{{selectedWorld.id}}/{{next.id}}" ng-if="!next.locked" class="button button-success">${{ challenge.start }}$</a></div>
      <p class="description">{{ next.description }}</p>
      <p ng-if="next.locked" class="description small">${{ partial.come_back_tomorrow_to_continue }}$</p>
    </div>
    <div ng-if="creation &amp;&amp; !mailTab" class="social-sharing">
      <div class="image"><img ng-src="{{ creation.cover_url }}"/></div>
      <div class="detail"><span class="title">{{ creation.title }}</span>
        <div class="description">{{ creation.description }}</div>
      </div>
      <div class="buttons"><a ng-click="openMailTab()" class="button button-mail"><i class="icon-mail"></i></a><a ng-click="facebookShare(creation)" class="button button-facebook"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/facebook-white.png&quot; }}" title="${{ partial.share_on_facebook }}$"/></a><a target="_new" ng-href="{{ buildURL(creation) }}" class="button button-twitter"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/twitter-white.png&quot; }}" title="${{ partial.share_on_twitter }}$"/></a></div>
    </div>
    <div ng-if="mailTab" class="mail-tab center"><span>${{ partial.share_by_email }}$</span>
      <form ng-submit="sendMail(creation)" name="mailForm">
        <div ng-if="error" class="box box-danger">{{ error }}</div>
        <div class="email">
          <input ng-model="creation.email" placeholder="Email address" type="email" required="required"/>
        </div>
        <button type="submit" ng-disabled="mailForm.$invalid" ng-class="{ &quot;disabled&quot; : mailForm.$invalid }" ng-if="!loading" class="button-success">${{ partial.send }}$</button>
        <div ng-if="loading" class="spinner"></div>
      </form>
    </div>
  </div>
</div>
<div ng-if="shareModal &amp;&amp; creation" class="modal-overlay">
  <div class="modal-inner modal-share-creation center">
    <div ng-style="{ &quot;background-image&quot;: &quot;url(&quot; + creation.cover_url + &quot;)&quot; }" class="cover"></div>
    <div ng-if="!mailTab" class="detail">
      <div class="title"><span>{{ creation.title }}</span></div>
      <p class="description">{{ creation.description }}</p>
    </div>
    <div ng-if="!mailTab" class="buttons">${{ partial.share_with_friends }}$<a ng-click="openMailTab()" class="button button-mail"><i class="icon-mail"></i></a><a ng-click="facebookShare(creation)" class="button button-facebook"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/facebook-white.png&quot; }}" title="${{ partial.share_on_facebook }}$"/></a><a ng-click="twitterShare(creation)" class="button button-twitter"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/twitter-white.png&quot; }}" title="${{ partial.share_on_twitter }}$"/></a></div>
    <div ng-if="selectedWorld.share_strategy === &quot;optional&quot;" class="skip-sharing">
      <button ng-click="skipSocialSharing()" class="button-success">${{ partial.skip_sharing }}$</button>
    </div>
    <div ng-if="mailTab" class="mail-tab center"><span>${{ partial.share_by_email }}$</span>
      <form ng-submit="sendMail(creation)" name="mailForm">
        <div ng-if="error" class="box box-danger">{{ error }}</div>
        <div class="email">
          <input ng-model="creation.email" placeholder="${{ partial.email_address }}$" type="email" required="required"/>
        </div>
        <button type="submit" ng-disabled="mailForm.$invalid" ng-class="{ &quot;disabled&quot; : mailForm.$invalid }" ng-if="!loading" class="button-success">${{ partial.send }}$</button>
        <div ng-if="loading" class="spinner"></div>
      </form>
    </div>
  </div>
</div>
<div ng-if="mailPreview" class="modal-overlay">
  <div class="modal-inner modal-mail-preview center">
    <button ng-click="closePreview()" class="close"><i class="icon-cross"></i></button>
    <div class="preview">
      <div class="header">${{ partial.share_by_email }}$</div>
      <h4>"{{ selectedSummerChallengeObj.shareTitle }}"</h4>
      <div class="content">
        <div class="left-content">
          <input type="email" ng-model="selectedSummerChallengeObj.email" placeholder="${{ partial.enter_an_email_address }}$"/>
          <textarea ng-model="selectedSummerChallengeObj.message" placeholder="${{ partial.i_just_made_this_with_code }}$"></textarea>
          <input type="text" ng-model="selectedSummerChallengeObj.name" placeholder="${{ partial.your_name }}$"/>
        </div>
        <div class="right-content">
          <div class="pic"><img ng-src="{{selectedSummerChallengeObj.img}}" ng-if="!selectedSummerChallengeObj.cover_url"/><img ng-src="{{selectedSummerChallengeObj.cover_url}}" ng-if="selectedSummerChallengeObj.cover_url"/></div><a ng-click="sendMail(selectedSummerChallengeObj)" class="button button-success">${{ partial.send }}$</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="auth.showModal" ng-cloak="ng-cloak" ng-click="auth.overlayClicked($event)" class="modal-overlay">
  <kwc-auth></kwc-auth>
</div>