.page-challenges

    ul.challenges-list, ul.shares-list
        debullet()
        clearfix()
        margin -10px
        margin-bottom 30px

        &, h1, h2, h3, h4, h5, h6
            color color-black

        li
            width (100% / 5)
            float left
            padding 10px
            box-sizing border-box

            a
                border-radius()
                no-select()
                display block
                overflow hidden
                background color-white

                .detail
                    padding 10px

                h5
                    ellipsis()
                    smooth-font()
                    font-weight bold
                    font-size: 15px

                    em
                        smooth-font(false)
                        font-weight normal
                        font-style normal

                    &:after
                        icon()
                        float right
                        font-size 12px
                        margin-top 3px
                        margin-right 3px

                .cover
                    width 100%
                    padding-bottom 100%
                    background-color color-grey-lighter
                    background-position center center
                    background-size cover
                    position relative

                &.current
                    box-shadow rgba(color-white, .2) 0 0 0 5px
                    background color-blue

                    h5
                        color color-white

                        &:after
                            content '\e615'

                    .cover
                        opacity .5

                &.completed h5
                    opacity 1

                    &:after
                        content '\e61d'
                        color color-green

                &.locked
                    filter(grayscale(100%))

                    .cover, h5
                        opacity .3

                    h5:after
                        content '\e621'
                        font-size 15px
                        margin-top 0

                &.highlight
                    background-color color-orange

                    .cover
                        background-color mix(color-orange, color-grey-lightest, 40)

                    .detail

                        h5
                            color #fff

                &.browse
                    background-color #1cb2c0

                    .cover
                        background-color #46ddeb

.modal-challenge-info
    top 50px
    width 480px
    margin-left -240px
    padding 0

    h3, p
        text-transform none

    h3
        smooth-font()
        font-weight bold
        margin-bottom 5px

    p
        font-size 18px

    .cover
        min-height 400px
        background-size cover
        background-position center center

    .detail
        padding 30px