
.page-challenges
    .weekday
        display none
    
    &.mischiefweek2015, &.pixelhack
        position relative
        overflow hidden
        
        .image
            position absolute
            top 10px
            width 400px
            height 400px
            z-index -1
            
            &.pull-left
                left -200px
            &.pull-right
                right -200px
                
        .header
            position relative
            z-index 0
            margin-bottom 20px
            height 160px
            width 100%
    
    &.pixelhack
        .image
            top -40px
            
            &.pull-left
                bg-image("pixelhack/cubes-left", 400px 400px, false, no-repeat)
                
            &.pull-right
                bg-image("pixelhack/cubes-right", 400px 400px, false, no-repeat)
                
        .header
            bg-image("pixelhack/pixelhack-header", 100% 160px, false, no-repeat)
            display(flex)
            justify-content(flex-end)
            
            .updates-form
                background-color rgba(color-black, .6)
                display(flex)
                align-items(flex-start)
                flex-direction(column)
                width 300px
                padding 20px
                
                h4
                    text-transform uppercase
                    font-weight bold
                    margin-top 15px
                    margin-bottom 5px
                    font-size 18px
                    smooth-font()
                
                form
                    display(inline-flex)
                    margin 0
                    width 100%
                
                    input, button
                        background none
                        color white
                        border 1px solid darken(color-white, 20)
                        margin 0
                        padding 12px 10px
                        font-weight bold
                        smooth-font()
                    
                    input
                        border-radius(3px 0 0 3px)
                        outline none
                        flex(70)
                        font-family 'Bariol', sans-serif
                        font-size 16px
                    
                    button
                        border-left none
                        border-radius(0 3px 3px 0)
                        flex(30)
                        color color-white
                        font-size 12px
                
                .error, .success
                    align-self(center)
                    border-radius(3px)
                    padding 7px 15px
                    margin-top 5px
                    font-size 14px
                
                .error
                    background-color color-red    
                    
                .success
                    background-color color-green
    
    &.mischiefweek2015
        .image            
            &.pull-left
                bg-image("mischiefweek/web-left", 400px 400px, false, no-repeat)
                
            &.pull-right
                bg-image("mischiefweek/web-right", 400px 400px, false, no-repeat)
                
        .header
            bg-image("mischiefweek/mischief-header", 100% 160px, false, no-repeat)
        
        .challenges-list li a
            .weekday
                display block
                position absolute
                top 0
                bg-image("mischiefweek/sash-purple", 80px 80px, false, no-repeat)
                height 80px
                width 80px
                
                span
                    display block
                    transform rotate(-45deg)
                    transform-origin 67px 30px
                    text-transform uppercase
                    font-weight 700
                    smooth-font()
                    font-size 14px
                    text-align center
                    color color-white
            
            &.current .weekday
                bg-image("mischiefweek/sash-orange", 80px 80px, false, no-repeat)
        
    
    .page-title
        position relative
        font-weight 400
        
        .quests
            position absolute
            left 0
            display inline-block
            
            a
                color #888
    
    ul.worlds-list
        debullet()
        clearfix()
        width 100%
        padding 0
        margin 0 0 30px 0

        li.world-item
            display inline-block
            box-sizing: border-box
            margin 0 20px 20px 0
            width 48%
            
            a.world-cover
                width 100%
                display block
                height 240px
                background-color #626770
                position relative
                border-radius(3px 3px 3px 3px)
                        
                h4
                    position absolute
                    bottom 0
                    left 0
                    right 0
                    background-color color-white
                    color color-black
                    padding 10px
                    font-weight 700
                    font-size 16px
                    smooth-font()
                    border-radius(0 0 3px 3px)
                    
                    &:after
                        icon()
                        circle(20px, transparent)
                        float right
                        font-size 9px
                        margin-top 3px
                        margin-right 3px
                        color color-white
                        line-height 22px
                        margin 0
                
                &.current
                    box-shadow color-blue 0 0 0 4px
                    border-radius(3px)
                    
                    h4:after
                        content '\e615'
                        background-color color-blue
                    
                &.completed
                    h4
                        background-color color-green
                        color color-white
                        &:after
                            content '\e61d'
                            background-color darken(color-green, 5)
                            
                &.locked
                    filter(grayscale(100%))
                    cursor default

                    h4
                        color darken(color-grey-lighter, 10)
                        &:after
                            content '\e621'
                            margin-top 0
                            background darken(color-grey-lighter, 10)
                        
    ul.challenges-list, ul.shares-list
        debullet()
        clearfix()
        margin -10px
        margin-bottom 30px

        &, h1, h2, h3, h4, h5, h6
            color color-black

        li
            width (100% / 5)
            float left
            padding 10px
            box-sizing border-box

            a
                border-radius()
                no-select()
                display block
                overflow hidden
                background color-white
                position relative

                .detail
                    padding 10px

                h5
                    ellipsis()
                    smooth-font()
                    font-weight bold
                    font-size 15px
                    overflow visible

                    em
                        smooth-font(false)
                        font-weight normal
                        font-style normal

                    &:after
                        icon()
                        circle(20px, transparent)
                        float right
                        font-size 9px
                        margin-top 3px
                        margin-right 3px
                        color color-white
                        line-height 22px
                        margin 0

                .cover
                    width 100%
                    padding-bottom 100%
                    background-color color-grey-lighter
                    background-position center center
                    background-size cover
                    position relative

                &.current
                    box-shadow rgba(color-blue, 1) 0 0 0 5px

                    h5:after
                        content '\e615'
                        background color-blue

                    .cover
                        opacity .5

                &.completed
                    background color-green

                    h5
                        opacity 1
                        color #fff

                        &:after
                            content '\e61d'
                            background darken(color-green, 5)

                &.locked
                    filter(grayscale(100%))
                    cursor default

                    .cover, h5
                        opacity .3

                    h5:after
                        content '\e621'
                        margin-top 0
                        background color-grey

                &.highlight
                    background-color color-orange

                    .cover
                        background-color mix(color-orange, color-grey-lightest, 40)

                    .detail h5
                        color #fff

                &.browse
                    background-color #1cb2c0

                    .cover
                        background-color #46ddeb
                        
.certificate
    .modal-inner
        top 150px
        
        .cover
            background-image url('/assets/pixelhack/cert-modal.png')
            background-size 100%
            background-position center center
            background-repeat no-repeat
            min-height 200px


placeholder()
    color mix(color-grey-light, color-grey-lighter, 70%)

::-webkit-input-placeholder
    placeholder()

:-moz-placeholder
    placeholder()

::-moz-placeholder
    placeholder()

:-ms-input-placeholder
    placeholder()
