.page-challenge

    .button-hint
        button-color(color-editor-bg)

        &.highlight
            background red

    .success-display
        clearfix()
        border-radius()
        position absolute
        top 0
        left 0
        right 0
        bg-inverse color-green
        padding 20px
        padding-bottom 0
        margin 20px
        box-sizing border-box
        text-align center
        background lighten(color-green, 5)

        h5
            padding-right 100px

        a
            position absolute
            right 0
            top 0
            height 100%
            box-sizing border-box
            background color-green
            line-height 64px
            color color-white
            font-weight bold

    editor.disabled
        position relative

        > *
            blur-fx .9px

    .tutorial-wrap
        position relative

    .tutorial-display
        border-radius()
        padding 10px 30px
        font-size 20px

        .content
            margin-bottom 20px

        &:before
            tooltip-tail(left, @background, 15px)
            content ''
            position absolute
            top 70px

    .display-wrap
        position relative

        .actions
            position absolute
            left 10px
            bottom 10px

            .button
                margin-left 10px

    .father-day.workspace-header.success
            background #e5e5e5
            font-size 20px
            padding 30px

            &, h4
                color #333

            h4
                font-size 25px
                margin-bottom 10px

            img
                max-width 200px

            .button
                color color-white
                background color-green
    
    .completion
        display(flex)
        align-items(center)
        justify-content(center)
        
        .text
            flex(75)
        
        .gallery
            flex(35)
            
            h4
                color color-orange
                font-size 18px
                text-transform uppercase
                margin-bottom 5px
            
            .remixes
                margin-top 0
                
                .image
                    display inline-block
                    width 80px
                    height 80px
                    background-size cover
                    background-position center center
                    background-repeat no-repeat
                    border 2px solid #40444B
                    border-radius(3px)
                    margin-right 10px
                    
                    &:last-child
                        margin-right 0
                    