.page-challenges

    ul.challenges-list
        debullet()
        clearfix()
        margin -10px

        &, h1, h2, h3, h4, h5, h6
            color color-black

        li
            width (100% / 5)
            float left
            padding 10px
            box-sizing border-box

            a
                border-radius()
                display block
                overflow hidden
                background color-white

                .detail
                    padding 10px

                h5
                    ellipsis()
                    font-weight bold
                    font-size: 15px

                .cover
                    width 100%
                    padding-bottom 100%
                    background-color color-grey-lighter
                    background-position center center
                    background-size cover
                    position relative

                &.current
                    box-shadow rgba(color-white, .2) 0 0 0 5px

                    .cover
                        filter(grayscale(100%))

                &.current, &.locked

                    .cover
                        opacity .5

                &.completed h5
                    opacity 1

                &.locked

                    h5
                        opacity .5

                    .cover
                        background-image none !important

                        &:after
                            icon()
                            content '\e621'
                            position absolute
                            left 50%
                            top 50%
                            font-size 100px
                            margin-top -(@font-size / 2)
                            margin-left -(@font-size / 2)
                            color color-black
                            opacity .3