doc-tag-color(color, color-text = #fff)
    display inline-block
    background color
    border-radius()
    padding 4px 10px
    color color-text

.docs
    margin-top 100px

    h1
        margin-bottom 20px

    .row
        margin-bottom 0

    .docs-category
        margin-top 20px

        h3
            margin-bottom 20px
            font-weight normal

    .docs-details
        .command
            position relative
            border-radius()
            margin-bottom 20px
            background color-white
            overflow hidden

            .col-6
                padding 30px

                &.command-code
                    background color-grey
                    padding-bottom 999px
                    margin-bottom -999px
                    padding-left 45px

                    &:before
                        content '1'
                        background darken(color-grey, 5)
                        color color-white
                        position absolute
                        top 0
                        bottom 0
                        left 0
                        width 40px
                        padding-top 35px
                        text-align center
                        font-weight bold

                    .command-example
                        border-top 1px solid color-ruler
                        padding-top 10px

                        h4, h5
                            color color-white

                        .command-example-code
                            white-space pre

                &.command-usage
                    background color-grey-light

            &:last-child
                padding-bottom 15px
                border-bottom 0

            h4
                font-family font-code
                color #666
                font-size 17px
                margin-bottom 15px

                .identifier
                    doc-tag-color(color-language-identifier)

                .argument-number
                    doc-tag-color(color-language-number)

                .argument-string
                    doc-tag-color(color-language-string)

                .argument-bool
                    doc-tag-color(color-language-language)

                .argument.optional
                    opacity .2

                .argument.separator
                    color color-white

            .description
                font-style italic
                color: #777
                // font-weight 100
                margin-bottom 15px

            h5
                margin-bottom 15px
            // .arguments

        ul.arguments
            list-style none
            padding 0

            li
                font-weight normal

                span
                    font-style italic
                    color darken(color-grey, 15)
                    font-weight 100
