doc-tag-color(color, color-text = #fff)
    display inline-block
    background color
    border-radius()
    padding 4px 10px
    color color-text

.docs
    margin-top 100px
    
    h1
        margin-bottom 20px
    
    .col-6
        margin-bottom 20px

    .docs-category
        background #eee
        padding 20px
        border-radius()

        .command
            padding 30px 0
            border-bottom 1px solid color-ruler

            &:last-child
                padding-bottom 15px
                border-bottom 0

            h4
                font-family font-code
                color #666
                font-size 18px
                margin-bottom 15px

                .identifier
                    doc-tag-color(color-language-identifier)

                .argument-number
                    doc-tag-color(color-language-number)

                .argument-string
                    doc-tag-color(color-language-string)

                .argument.optional
                    opacity .2

            .description
                font-style italic
                color: #777
                // font-weight 100
                margin-bottom 15px

            h5
                margin-bottom 15px
            // .arguments

        ul.arguments
            list-style none
            padding 0

            li
                font-weight normal

                span
                    color #999
                    font-weight 100