.modal-inner.splash.feedback-splash
  text-align center

  form
    padding-top 30px

  h4
    margin-bottom 0


  input, textarea
    width 260px
    display inline-block
    padding 5px
    font-family 'Bariol'
    font-size 1em
