.kano-feedback
    bg-image('layout/feedback-normal', contain)
    border-radius 0
    position fixed
    bottom 15px
    right 15px
    width 40px
    height 40px
    opacity 0.5
    transition background 0.7s ease, opacity 0.7s ease
    cursor pointer

    &:hover
        opacity 1
        bg-image('layout/feedback-hover', contain)


.modal-inner.splash.feedback-splash
    text-align center

    form
      padding-top 30px

    h4
      margin-bottom 0


    input, textarea
      width 280px
      display inline-block
      padding 5px
      font-family 'Bariol'
      font-size 1em

    button:first-child
      background orangered

      &:hover
        background lighten(orangered, 10%)

    .form-container
      margin-bottom 15px

    .form-message

      h2
        color white
.hide
    display none
