ul.examples-list
    debullet()
    text-align center
    margin-bottom 25px

    li
        display inline-block
        padding 0 10px
        border-right 1px solid color-ruler
        text-transform uppercase

        &:last-child
            border 0

        a.active
            color color-black