ul.list
    debullet()
    text-align center
    margin-bottom 25px

    li
        display inline-block
        padding 0 10px
        border-right 1px solid color-ruler
        text-transform uppercase
        font-weight bold

        &:last-child
            border 0

        a
            padding 5px
            border-radius 3px

            &.active
                color color-white
                background color-orange

.logo-title
    img
        vertical-align middle

    img:last-of-type
        margin-left 20px

.splash
    background color-grey

    h4
        color color-white
        font-weight bold
