.page-level

    .success-display
        absolute-cover()
        bg-inverse color-green
        padding 20px
        box-sizing border-box
        clearfix()
        text-align center
        background-image radial-gradient(rgba(#fff, .3), rgba(#fff, .0))
        border-radius()

        h3
            margin-top 120px
            font-weight bold
            text-transform uppercase

    editor.disabled
        position relative

        > *
            blur-fx .9px

        &:after
            content ''
            display block
            absolute-cover()
            bg-image-sized('characters/judoka/explaining', center center, no-repeat)
            margin-left 30px

    .tutorial-wrap
        position relative

    .tutorial-display
        absolute-cover()
        bg-inverse()
        box-sizing border-box
        padding 10px 30px
        font-size 20px
        border-radius()

        .content
            margin-bottom 20px

        &:before
            content ''
            position absolute
            tooltip-tail(left, @background, 15px)
            top 70px

        .next-action
            margin-top 30px

    .display-wrap
        position relative

        .actions
            position absolute
            right 10px
            bottom 10px

            .button
                margin-left 10px