.page-level

    .success-display
        position absolute
        top 0
        left 0
        right 0
        bg-inverse color-green
        padding 20px
        padding-bottom 0
        margin 20px
        box-sizing border-box
        clearfix()
        text-align center
        background lighten(color-green, 5)
        border-radius()

        h5
            padding-right 100px

        a
            position absolute
            right 0
            top 0
            height 100%
            box-sizing border-box
            background color-green
            line-height 64px
            color color-white
            font-weight bold

    editor.disabled
        position relative

        > *
            blur-fx .9px

        &:after
            content ''
            display block
            absolute-cover()
            bg-image-sized('characters/judoka/explaining', center center, no-repeat)
            margin-left 30px

    .tutorial-wrap
        position relative

    .tutorial-display
        absolute-cover()
        bg-inverse()
        box-sizing border-box
        padding 10px 30px
        font-size 20px
        border-radius()

        .content
            margin-bottom 20px

        &:before
            content ''
            position absolute
            tooltip-tail(left, @background, 15px)
            top 70px

        .next-action
            margin-top 30px

    .display-wrap
        position relative

        .actions
            position absolute
            right 10px
            bottom 10px

            .button
                margin-left 10px
