.page-level

    .editor-wrap
        position relative

        h4
            margin-top 5px
            margin-bottom 0

        .box-success
            position absolute
            left 0
            bottom 0
            width 100%
            z-index 4
            border-radius 0
            margin-bottom 0