.page-levels

    ul.levels-list
        debullet()
        clearfix()
        margin -10px

        &, h1, h2, h3, h4, h5, h6
            color color-black

        li
            border-radius()
            overflow hidden
            width (100% / 5)
            float left
            background color-white
            margin 0 10px 10px

            .cover
                width 100%
                padding-bottom 85%
                background-color color-grey-lighter

            .detail
                padding 10px

                h5
                    ellipsis()
                    font-weight bold
                    font-size: 15px