.promo-popup
	&.modal-inner
		padding 0
		background #fff
		width initial
	.sc-popup-header
		background-color color-orange
		padding 10px 0 3px 0 
		border-radius 3px
		margin 0
		width 100%
		text-transform none
		text-align center
		color color-white
		font-smoothing antialiased

		h2
			color color-white
			text-transform none
			font-size 22px
			font-weight bold
			margin 10px 0 5px 0
		p
			font-size 15px
			font-weight bold
			color #ffd3b3
			padding 0
		
		.close-btn
			position absolute
			right 10px
			top 15px
			width 20px
			height 20px
			bg-image("button-icons/close", 20px 20px, false, no-repeat)
			color color-white
	.sc-popup-body
		margin -3px 0 0 0
		text-align center
		background-color #fff
		.upgrade-kit-img
			display block
			width 585px
			height 384px
			margin 0 auto
			padding 0
			bg-image("promo/upgrade_kit", 585px 384px, false, no-repeat)
		.update-img
			display block
			width 690px
			height 250px
			margin 0 auto
			padding 0
			bg-image("promo/update", 690px 250px, false, no-repeat)
				
	.sc-popup-footer
		text-align center
		border-radius 3px
		padding 15px 0 20px 0
