.app-container
    margin auto
    text-align center

    //editor
      //display none

    .hidden
        display none

.app-width
    margin-left auto
    margin-right auto
    position relative

display
    width 100%
    margin auto
    max-width 500px

.bgwhite
  background-color #fff
