.app-container
    min-width 500px
    width 500px
    margin auto
    text-align center

    //editor
      //display none

    .hidden
        display none

.app-width
    margin-left auto
    margin-right auto
    position relative
