.modal-inner.splash
    background color-bg

    .logo-title
        illustration-fixed('layout/draw-logo')
        margin 30px auto 20px

        img
            vertical-align middle

        img:last-of-type
            margin-left 20px

    h4
        color color-white
        margin-bottom 50px

    .bottom-section
        background lighten(color-bg, 10)