.final-call
	absolute-position(0, 0, false, false)
	background url('/assets/summercamp/final-call.png') no-repeat
	background-size 150px 150px
	height 150px
	width 150px

challenge_icon(img)
	&.challenge_{img}
		bg-image('summercamp/ch_icons/' + img, 70px 70px, false, no-repeat)

.deco-leaves 
	display block
	bg-image("summercamp/header-leaves", 1020px 20px, false, no-repeat)
	width 1020px
	height 20px
	margin 0px 0 20px 0
	z-index 1
.deco-big-branch 
	display block
	bg-image("summercamp/bigbranch", 256px 162px, false, no-repeat)
	width 256px
	height 162px
	margin -320px -50px auto auto
.kit-banner
	z-index 2
	banner(color-orange, #fff)
	margin 0
	display inline-block
	color #fff
	img 
		z-index 2
.summer-camp
	z-index 1
	
.top
	background-color #504e48
	
.bottom
	background-color #44423d

.top, .bottom
	padding 30px 0
	
.summer-camp 
	.countdown
		padding 80px 0
		background url("/assets/summercamp/wood-asset.png") no-repeat
		background-size contain
		background-position center center
		
		span
			margin 0 10px
			font-size 4em
			font-weight 500
			color #fff
			
			&:first-child
				margin-left 0

			&:last-child
				margin-right 0
		
		.days
			display block
			font-size 6em
			margin-bottom 20px


	div.sc-calendar
		background-color white
		border-radius 5px
		padding 20px
		margin-bottom 40px
		position relative
		h2
			color black
			text-align center
			margin 0 0 0 0
			padding 20px 0 0 0
			font-weight bold
		h4
			color #6e6e6e
			text-align center
			text-transform uppercase
			font-size 12pt
			margin 0
			font-weight bold

	.weekdays_list
		list-style none
		padding 0
		margin 20px 0 0 0

		.weekdays
				box-sizing border-box
				display inline-block
				width 14.2857%
				color #dcd9d9
				padding 10px 0
				text-align center
				text-transform uppercase
				font-size 12pt
				font-weight bold
				font-smoothing antialiased

				&.current
					color #6e6e6e

	.calendar
		list-style none
		padding 0
		margin  0
		border-radius 3px
		display inline-block
		width 100%
		
		li
			box-sizing border-box
			display inline-block
			width 14.2857%

		.day
			background-color white
			float left

			a
				border 3px solid #A6DA3B
				display block
				position relative
				text-align center
				
				span
					display block
					padding 4px 10px
					position absolute
					left 0
					top 0
					color color-grey
					font-size 1.2rem
					font-weight bold
					font-smoothing antialiased
					z-index 2
				
				.cover
					position relative
					background-position center 25px
					background-size cover
					background-repeat none
					height 100px

					&.unknown
						bg-image('summercamp/ch_icons/question', 70px 70px, false, no-repeat)
					
					for icon in 'campsign' 'location' 'setcamp' 'flag' 'badge' 'fire' 'ghost' 'backpack' 'compass' 'camera' 'bear' 'flashlight' 'guitar' 'cinema' 'bow' 'tennis' 'fishing' 'hiking' 'foraging' 'tree' 'fireworks'
						challenge_icon(icon)
				
				.img-cover
					position relative
					background-position center center
					background-size cover
					background-repeat none
					height 129px
					opacity .5
					z-index 1
					
				.detail
					padding 10px
					text-align center
					
				h5
					ellipsis()
					smooth-font()
					width 100%
					font-weight bold
					font-size 15px
					overflow visible
					text-align center
					color color-grey-darker
					padding 0 0 10px 0

				&.current
					&:hover
						border-color #bbb

					.cover
						opacity .8
				
				&.completed
					border-color #A6DA3B
					bg-image('summercamp/ch_icons/completed', 70px 70px, false, no-repeat)
					background-position center 25px
					
					&:hover
						border-color #80A42E
						
						.img-cover
							opacity 1

				&.locked
					filter(grayscale(100%))
					cursor default
					opacity .5
					
				&.active
					background-color color-orange
					border-color color-orange
					border-radius 4px
					
					&:hover
						background-color color-orange
						border-color color-orange
						
						.img-cover
							opacity 0.1
							
					h5, span
						color white

					.img-cover
						opacity 0.1
			
			&:nth-child(-n+7) a
				border-top-width 6px
				border-top-style solid
					
			&:nth-child(n+15) a
				border-bottom-width 6px
				border-bottom-style solid
			
			&:nth-child(7n+1) a
				border-left-width 6px
				border-left-style solid
					
			&:nth-child(7n+7) a
				border-right-width 6px
				border-right-style solid
					
			&:nth-child(1) a
				border-radius(5px 0 0 0)
					
			&:nth-child(7) a
				border-radius(0 5px 0 0)
					
			&:nth-child(21) a
				border-radius(0 0 5px 0)
				
			&:nth-child(15) a
				border-radius(0 0 0 5px)

	.challenge-info
		position relative
		.pic 
			display inline-block
			width 300px
			height 300px
			img 
				border-radius 4px
				height 100%
				width 100%
		.detail
			font-family bariol
			display inline-block
			box-sizing border-box
			width 70%
			vertical-align top
			padding 0px 0 0 25px
			color #ada799
			absolute-position(0, false, 0, false)
			
			span.cont-label
				font-size 12pt
				font-weight bold
				font-smoothing antialiased
				display block
				color white
			div
				border none
				margin 0 0 0 0
				padding 0
			div.btn-container
				display inline-block
				width 45%
				text-align right
				vertical-align top
				absolute-position(false, 0, 0, false)
				
				.see-on-world
					background-color #fff
					color #394D5B
					bg-image('summercamp/kw', 20px 20px, 10px center, no-repeat)
					border-radius()
					font-family font-body
					display inline-block
					padding 10px 15px 10px 40px
					font-size 14px
					text-transform uppercase
					font-weight bold
					margin-right 10px
					smooth-font()
					
					&:hover
						background-color #eee
						color color-grey-darker
					
			div.countdown-next
				background-color color-red
				width 140px
				vertical-align middle
				padding 9px 0 11px 0
				float right
				text-align left
				border-radius 3px
				color white
				.icon-locked
					margin 0  7px 0 10px
					color color-grey-darker
				span 
					vertical-align top
					text-align center
				span.sup 
					font-size 10px
					vertical-align top
					margin 8px 5px 0 0
					line-height 15px
			div.rewards-container
				
				display inline-block
				width 25%
				vertical-align top
				absolute-position(false, false, 0, 160px)
				
				.rewards-icons
					display inline-block
					width 100%
					margin 0
					padding 0
					
					a
						display inline-block
						float left
						width 40px
						height 40px
						margin-right 15px
						margin-top 0
					a.rew-wallpaper
						bg-image('summercamp/wallpaper', 40px 40px, false, no-repeat)

					a.rew-outfit
						bg-image('summercamp/suit', 40px 40px, false, no-repeat)


			div.diff-container
				display inline-block
				width 25%
				absolute-position(false, false, 0, false)

				.difficulty-level, .share-buttons
					display inline-block
					width 100%
					margin 0
					padding 0

					span
						display inline-block
						width 40px
						height 40px

						&.l-easy
							bg-image('summercamp/off_easy', 40px 40px, false, no-repeat)

						&.l-medium
							bg-image('summercamp/off_medium', 40px 40px, false, no-repeat)

						&.l-hard
							bg-image('summercamp/off_hard', 40px 40px, false, no-repeat)


					&[data-level="l-1"]
						span
							&.l-easy
								bg-image('summercamp/easy', 40px 40px, false, no-repeat)

					&[data-level="l-2"]
						span
							&.l-medium
								bg-image('summercamp/medium', 40px 40px, false, no-repeat)

					&[data-level="l-3"]
						span
							&.l-hard
								bg-image('summercamp/hard', 40px 40px, false, no-repeat)
				
				.share-buttons
					.btn-facebook, .btn-mail
						display inline-block
						border-radius()
						padding 20px
						margin 10px 10px 0 0
					
					.btn-facebook
						bg-image('summercamp/facebook', 25px 25px, center center, no-repeat)
						background-color #3B5998
						
						&:hover
							background-color lighten(#3B5998, 5)
					
					.btn-mail
						bg-image('summercamp/mail', 25px 25px, center center, no-repeat)
						background-color #EE5050
						
						&:hover
							background-color lighten(#EE5050, 5)

			h4
				header-text(12pt)

			h3 
				header-text(30pt)
				
				span
					color color-orange
					
					&.done
						color #A6DA3B
				
			.description
				p
					font-size 16px
					color #ada799
					line-height 20px
					min-height 140px

	.summercamp-leaderboard
		padding: 30px 20px 20px
		color: #8d887c
		font-weight: bold
		background-color #67645B
		border-radius 5px

		h1
			font-size: 30px
			color: white
			text-align: center
			font-weight: bold
			margin-bottom: 0
			font-smoothing antialiased

		h2
			font-size: 14px
			color: #a8a394
			text-transform: uppercase
			text-align: center
			margin-bottom: 25px
			font-weight: bold
			font-smoothing antialiased
		
		.leaderboard-title
			padding 0
			
			.header
				display inline-block
				margin-right 1%
				width 49.5%
				height 20px
				line-height 20px
				font-size: 12px
				text-transform: uppercase
				color: #a8a394
				position relative
				
				.position
					display inline-block
					width 74px
					text-align center
				.detail
					display inline-block
					position absolute
					right 0
					
					.challenges, .points
						position relative
						margin-right 23px
					
				&:nth-child(2)
					margin-right 0

		.leaderboard
			padding: 0
			display(flex)
			flex-direction(column)
			flex-wrap(wrap)
			list-style none
			height 425px
			width 100%

			.leaderboard-entry
				height: 74px
				line-height: 74px
				position: relative
				background: white
				margin: 0 0 10px 0
				font-size: 20px
				border-radius: 5px
				overflow: hidden
				width 49.5%
				margin-right 1%
				
				&:nth-child(6n+1)
					margin-right 0

				a
					position: absolute
					width: 100%
					height: 100%

				&.header
					height: 20px
					line-height: 20px
					margin: 7px 0
					font-size: 12px
					background: none
					text-transform: uppercase
					color: #a8a394

					.position
						font-size: 12px
						color: #a8a394
						background: none

					.detail
						color: #a8a394

						.challenges-complete, .points
							position: relative
							left: 3px
							width: auto

						.challenges-complete
							position: relative
							left: 20px

				&:nth-of-type(1) .position
					color: #a19248
					background: linear-gradient(-45deg, #fbd951 50%, #fce675 50%)

				&:nth-of-type(2) .position
					color: #979797
					background: linear-gradient(-45deg, #e3e3e3 50%, #ededed 50%)

				&:nth-of-type(3) .position
					color: #a37558
					background: linear-gradient(-45deg, #ffb98d 50%, #ffc39b 50%)

				&.user .position
					color: #617f2c
					background: #9bc94b


				.position
					float: left
					height: 74px
					width: 74px
					color: #736d5e
					background: #b7ae97
					font-size: 25px
					text-align: center
					font-smoothing antialiased
				.detail
					width: 100%
					color: #8b8b8b
					*
						margin-left: 15px
					.avatar
						vertical-align: middle
						text-align: center
						width: 46px
						height: 46px
					.user
						color: black
					.challenges-complete
						float: right
						margin-right: 20px
						width: 30px
					.points
						float: right
						margin-right: 30px
						width: 30px

	@import 'summer-camp/feedback'


.modal-register
	h3
		smooth-font()
		font-weight bold
		margin-bottom 20px
		
	input[type='text']
	input[type='password']
	input[type='email']
	input[type='number']
	input[type='tel'],
	input[type='date']
	textarea
		padding 9px 15px
		background color-white
		display inline-block
		border 1px solid color-ruler-contrast
		border-radius()
		font-family type-body-font
		type-size 1.3
		margin-right 0px
		margin-bottom 20px
		box-sizing border-box
		box-shadow 0 2px 0 0 rgba(#000, .03) inset
		
		&:last-child
			margin-right 0
			margin-bottom 0
			
		&:focus
			border 1px solid color-primary
			outline 0
		
		&.block
			width 100%

.workspace-header.success
	background lighten(color-editor-bg, 15)

.modal-mail-preview
	top 50px
	width 500px
	margin-left -250px
	padding 0
	
	.preview
		height auto
		width 100%
		box-sizing border-box
		background-color color-grey-lighter
		padding-bottom 20px
		border-radius(5px)
		
		.header
			padding 20px 0
			background-color color-header
			color white
			text-transform none
			font-weight bold
			font-size 24px
			smooth-font()
			width 100%
			
		h4
			smooth-font()
			font-weight bold
			margin 10px 0
			text-transform none
			
		.content
			padding 0 20px
			display(flex)
			flex-direction(row)
			flex-wrap(nowrap)
			justify-content(space-between)
			
			.left-content
				flex 60
				input, textarea
					display block
					margin 0 0 10px
					padding 12px 10px
					width 100%
					background color-white
					border 1px solid color-ruler
					box-sizing border-box
					box-shadow 0 1px 0 0 rgba(#000, .1) inset
					border-radius(5px)
					font-family font-body
					font-size 16px
					font-weight bold
					smooth-font()
					
					&:focus
						border 1px solid color-primary
						outline 0
				
				textarea
					height 150px
					resize none
					
			.right-content
				flex 35
				margin-left 20px
				.pic
					margin-bottom 65px
					img
						width 150px
						height 150px
				.button-success
					padding 12px 60px
					border-radius(5px)
					
				.disabled
					background-color color-grey-lighter
					color color-grey

placeholder()
	color mix(color-grey-light, color-grey-lighter, 70%)

::-webkit-input-placeholder
	placeholder()

:-moz-placeholder
	placeholder()

::-moz-placeholder
	placeholder()

:-ms-input-placeholder
	placeholder()
