
<div ng-if="selectedWorld.id !== &quot;pixelhack&quot;" class="banner"><a href="/challenges/pixelhack"><span>ピクセルハック：</span>   ビデオゲームのアート歴史をコードで歩んでみよう。</a>
  <div ng-if="banner.showModal" class="modal-overlay">
    <div ng-style="{'display': banner.showModal ? 'block' : 'none'}" class="modal-inner modal-challenge-info center">
      <div class="cover"></div>
      <button ng-click="banner.closeModal()" class="close"><i class="icon-cross"></i></button>
      <div class="detail">
        <h3>ピクセルハックへようこそ</h3>
        <p>ポングやその他のレトロなゲームからコードの冒険を始めよう。次に８ビットアートをマスターし、自分のマインクラフトキャラクターなど作ろう。乗り越えたチャレンジを皆に見せて、ピクセルマスターのバッジをゲットしよう。</p>
        <p>ハッキングを楽しめ！</p>
      </div>
    </div>
  </div>
</div>