
<div ng-if="selectedChallenge &amp;&amp; offline" class="modal-overlay">
  <div class="modal-inner modal-challenge-info center">
    <div ng-style="{ &quot;background-image&quot;: &quot;url(/assets/layout/keyboard.gif)&quot; }" class="cover"></div>
    <button ng-click="deselectedChallenge()" class="close"><i class="icon-cross"></i></button>
    <div class="detail">
      <h3>Grab Your Keyboard!</h3>
      <p class="description">You'll need it to type code...</p><a ng-href="/challenge/{{selectedWorld.id}}/{{selectedChallenge.id}}" class="button button-success">${{ challenge.start }}$</a>
    </div>
  </div>
</div>