
<div ng-if="title" class="editor-title"><i class="icon-hint"></i>&nbsp; {{ title }}</div>
<ul ng-if="tabbed" class="editor-tabs">
  <li ng-class="{ active: tab === &quot;code&quot; }" ng-click="switchTab(&quot;code&quot;)"><i class="icon-code"></i></li>
  <li ng-class="{ active: tab === &quot;guide&quot; }" ng-click="switchTab(&quot;guide&quot;)" ng-if="guide"><i class="icon-guide"></i></li>
  <li class="divide"></li>
  <li ng-repeat="category in docs" ng-class="{ active: tab === &quot;docs-&quot; + category.label }" ng-click="switchTab(&quot;docs-&quot; + category.label)"><i ng-class="&quot;icon-&quot; + category.icon"></i></li>
</ul>
<div ng-repeat="category in docs" ng-show="tab === &quot;docs-&quot; + category.label" class="editor-docs">
  <div class="inner">
    <h4>{{ category.label }}</h4>
    <p class="hint">Click<span class="add-button"></span>to add a shape to your code
      <div ng-repeat="command in category.commands" class="command">
        <div class="command-parts"><span class="tag call">{{ command.call }}</span><span ng-repeat="arg in command.args"><span ng-class="arg[1]" class="tag">{{ arg[0] }}</span><span ng-if="$index !== command.args.length -1" class="divide">, </span></span><a ng-click="addCommand(command)" class="add-button"></a></div>
        <p class="explain">{{ command.description }}</p>
        <p class="explain-parts"><span ng-repeat="arg in command.args"><span ng-class="arg[1]">{{ arg[0] }}: {{ arg[2] }}</span><span ng-if="$index !== command.args.length -1"> | </span></span></p>
      </div>
    </p>
  </div>
</div>
<div ng-show="tab === &quot;code&quot;">
  <div ng-class="{ &quot;has-title&quot;: !!title }" class="editor-wrap">
    <div editor="editor" ng-class="{ disabled: !editable }" class="editor-area"></div>
    <div ng-if="controls" ng-class="{ full: fullScreen }" class="controls"><a href="#" ng-click="toggleAutocomplete()" title="Toggle autocomplete" ng-class="{ active: autocomplete }">
        <div class="autocomplete">
          <div class="round"></div><span>Autocomplete</span>
        </div></a><a href="#" ng-click="toggleFullScreen()" title="Toggle fullscreen" ng-class="{ active: fullScreen }" ng-hide="challengeId">
        <div class="full-screen-control">
          <div class="round"></div><span>Fullscreen</span>
        </div></a></div>
  </div>
</div>
<div ng-show="tab === &quot;guide&quot;" class="editor-guide">
  <div class="inner">
    <div ng-if="teachers_guide" class="teachers-guide"><a ng-href="{{ &quot;/assets&quot; + teachers_guide }}" target="_blank" class="guide"><i class="icon-zip"></i><span>Download teacher's guide</span></a></div>
    <h4 ng-if="guide">Guide</h4>
    <div ng-bind-html="guide | markdown" ng-if="guide" class="guide"></div>
  </div>
</div>