@media (max-height 400px)
    .modal-challenge-info

        .cover
            background-size cover
            background-position center center
            width 240px
            height 240px

        .detail
            padding 16px

@media (min-height 401px)
    .modal-challenge-info
        display flex
        flex-direction column
        min-height 380px
        padding 0

        h3, p
            text-transform none

        h3
            smooth-font()
            font-weight bold
            margin-bottom 5px

        p
            font-size 18px

        .cover
            background-size cover
            background-position center center
            width 420px
            height 420px

        .detail
            padding 32px
            display flex
            flex-direction column
            justify-content center
            align-items center
