@media (max-height 400px)
    .modal-challenge-info
        width 25%
        min-width 223px
        min-height 102px

@media (min-height 401px)
    .modal-challenge-info
        width 25%
        height 57%
        min-height 380px
        padding 0

        h3, p
            text-transform none

        h3
            smooth-font()
            font-weight bold
            margin-bottom 5px

        p
            font-size 18px

        .cover
            min-height 70%
            background-size cover
            background-position center center

        .detail
            min-height 30%
            display flex
            flex-direction column
            justify-content center
            align-items center
