.modal-challenge-info
    top 50px
    width 480px
    margin-left -240px
    padding 0

    h3, p
        text-transform none

    h3
        smooth-font()
        font-weight bold
        margin-bottom 5px

    p
        font-size 18px

    .cover
        min-height 400px
        background-size cover
        background-position center center

    .detail
        padding 30px