.modal-next-challenge
    width 25%
    padding 0

    h3, p
        text-transform none

    h3
        smooth-font()
        font-weight bold
        margin-bottom 5px

    p
        font-size 18px
    
    .title
        text-transform none
        display flex
        align-items center
        font-size 28px
        
        span
            font-weight bold
            margin-left 8px
            flex 5
            order 1
            text-align left
        
        a
            flex 1
            order 2

    .cover
        min-height 400px
        background-size cover
        background-position center center

    .detail
        padding 20px
        