.modal-next-challenge
    padding 0

    p
        font-size 18px
    
    .title
        text-transform none
        display flex
        align-items center
        font-size 28px
        
        span
            font-weight bold
            margin-left 8px
            flex 5
            order 1
            text-align left
        
        a
            flex 1
            order 2

    .detail
        padding 20px
        display: flex;
        flex-direction: column;
        align-items: stretch;

@media (max-height 400px)
    .modal-next-challenge
        .cover
            background-size cover
            background-position center center
            height 240px

        .detail
            padding 16px

@media (min-height 401px)
    .modal-next-challenge
        display flex
        flex-direction column
        min-height 380px
        padding 0

        h3, p
            text-transform none

        h3
            smooth-font()
            font-weight bold
            margin-bottom 5px

        p
            font-size 18px

        .cover
            background-size cover
            background-position center center
            width 420px
            height 420px