page-width()
    max-width 1000px
    margin-left auto
    margin-right auto

absolute-cover()
    position absolute
    left 0
    top 0
    width 100%
    height 100%

border-radius(radius = 3px)
    border-radius radius

bg-inverse(bg-color = color-primary)
    background bg-color
    color color-white

    h1, h2, h3, h4, h5, h6
        text-shadow 0 2px rgba(#000, .07)
        color color-white

        &.ruled
            border-bottom 1px solid color-ruler-inverse

    hr
        background color-ruler-inverse

    code
        background rgba(#fff, .7)
        color darken(color-primary, 40%)

debullet()
    list-style none
    padding-left 0

    li
        margin-left 0

blur-fx(amt = 5px)
    -webkit-filter blur(amt)

smooth-font(state = true)
    if state == false
        font-smoothing: subpixel-antialiased
        -moz-osx-font-smoothing: auto
    else
        font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale

circle(size = 10px, color = color-grey-lighter)
    width size
    height size
    border-radius size
    line-height size
    text-align center
    background-color color
    display inline-block

no-select()
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none