.export-menu

    .created-image
        width 100%
        height 100%

    input
    textarea
        width 100%
        box-sizing border-box
        padding 10px
        color #6e6e6e
        font-size 16px
        border-radius 3px
        border 2px solid #eeeeee
        resize none

        &:focus
            border 2px solid #ababab
            outline none

    textarea
        height 96px

    .button
        clear both
        float right
        margin-right 0

        &:not(:first-of-type)
            margin-top 10px

    input:invalid ~ .button
        background color-disabled
