.export-menu

    .created-image
        width 100%

    input, textarea
        width 100%
        box-sizing border-box
        padding 10px
        color #6e6e6e
        font-size 16px
        border-radius 3px
        border 2px solid #eeeeee
        resize none
        margin-bottom 20px

        &:focus
            border 2px solid #ababab
            outline none

    img
        border-radius()
        background #fff

    textarea
        height 181px

    .buttons
        button
            display inline-block
            margin-bottom 0
            padding 10px 20px
            
            &.skip
                background-color color-grey-light
                
                &:hover
                    background-color darken(color-grey-light, 5)

            .xp
                margin-left 10px
                color #ddd

        &:not(:first-of-type)
            margin-top 10px

    input:invalid ~ .button
        background color-disabled

    .facebook-share, .email-share
        font-size 14px
        text-decoration underline
        text-transform none
        font-weight 600
        font-smoothing antialiased
        text-align center
        i
            margin-right 10px

    .facebook-share
        color #3C599B
