.hero-header
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    .hero-image
        height 35vw
        max-height 340px
        min-height 160px

.pixelhack
    .hero-header
        .hero-image
            background-repeat no-repeat
            background-size cover
            background-position center
