level-button-size = 50px
level-button-gutter = 10px

.levels-menu

    .challenge-info
        padding-bottom 50px

    ul.levels-list
        debullet()
        padding-left 120px
        padding-right 120px
        clearfix()

        li
            position relative
            margin (level-button-gutter / 2)
            float left

            .button
                button-color(color-blue)
                width level-button-size
                height level-button-size
                line-height level-button-size
                padding 0
                margin 0
                text-align center
                font-weight bold
                font-size 18px

                &.locked
                    button-color(#dddddd)

                &.playground
                    button-color(saturate(darken(color-green, 6), 10))
                    width (3 * level-button-size) + (2 * level-button-gutter)
                &:hover
                    &:not(.locked)
                        button-color(lighten(color-blue, 5))
                    &.playground
                        button-color(saturate(darken(color-green, 1), 10))
                    & ~ .challenge-title
                        display block

                & ~ .challenge-title
                    display none
                    background #44423d
                    color #ffffff
                    padding 10px
                    font-weight bold
                    font-size 14px
                    line-height 14px
                    white-space nowrap
                    border-radius 3px
                    bottom 65px

                    &:after
                        content ''
                        display block
                        bottom -15px
                        width 0
                        height 0
                        border-left 15px solid transparent
                        border-right 15px solid transparent
                        border-top 15px solid #44423d

                    &,
                    &:after
                        position absolute
                        left 50%
                        -webkit-transform translate(-50%, 0)
                        transform translate(-50%, 0)
