width = 250px

.notification
    border-radius()
    position fixed
    bottom 20px
    left 50%
    width width
    margin-left -(width / 2)
    padding 20px
    color color-white
    text-align center
    z-index: 10

    &.success
        background color-green

    &.fail
        background color-red

    &.inform
        background color-blue
