width = 250px

.notification
    position fixed
    bottom 20px
    left 50%
    width width
    margin-left -(width / 2)
    padding 20px
    color color-white
    border-radius()
    text-align center

    &.success
        background color-green

    &.fail
        background color-red
