.progress-circle
    width 60px
    height @width

    .bar, .wrap
        fill none
        stroke-width: 8px
        stroke-linecap round

    .bar
        stroke #a1e36c

    .wrap
        stroke rgba(0, 0, 0, .08)