progress-circle svg
    width 60px
    height @width
    margin-top -5px

    path, circle
        fill none
        stroke-width: 8px
        stroke-linecap round

    path
        stroke #a1e36c

    circle
        stroke rgba(0, 0, 0, .08)