.social-sharing
    position fixed
    right 0
    top 0
    bottom 0
    display(flex)
    justify-content(center)
    
    .buttons
        display(flex)
        flex-direction(column)
        justify-content(center)
        padding 10px
    
    a.button
        margin 0 0 10px 0
        padding 20px
        color color-white
        border-radius(3px)
        display(flex)
        justify-content(center)
        align-content(center)
        
        &:last-child
            margin-bottom 0
        
        &.button-mail
            button-color(color-blue)
            padding 11px 8px
            
            i
                position relative
                left 0
                right 0
                opacity 1
                font-weight bold
        
        &.button-facebook
            button-color(#31488b)
            
        &.button-twitter
            button-color(#55acee)
            
        &.button-facebook, &.button-twitter
            
            img
                width 16px
                height 16px