// .workspace
//     background color-grey-lighter

// .workspace-body
//     padding 0 20px

.workspace-header
    clearfix()
    background lighten(color-black, 5)
    margin-bottom 20px
    
    a
        background color-black
        display block
        color color-white
        padding 20px
        box-sizing border-box
        width 50%
        
        .title, .subtitle
            display block

        .title
            font-size 14px
            color color-grey-lighter
            text-transform uppercase
            
        .subtitle
            smooth-font()
            font-weight bold
            font-size 20px