#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	env
	# NodeJS and npm
	# cd po && ./lang-extract-doc-strings
	# cd po && ./lang-extract-strings
	# Add NPM repository
	curl -sL https://deb.nodesource.com/setup_10.x | bash -
	# Prerequisites for yarn
	curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | apt-key add -
	echo "deb https://dl.yarnpkg.com/debian/ stable main" | tee /etc/apt/sources.list.d/yarn.list
	# update
	apt-get update
	# install Node and yarn
	apt-get install --yes nodejs yarn
	# login npm and npx
	npm i -g npx
	npm i npm-login-cmd
	npx npm-login-cmd
	# Actually build
	yarn add --dev @kano/kit-app-shell-web
	OFFLINE=true NODE_ENV=production yarn build:web


override_dh_auto_install override_dh_auto_test: