#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# NodeJS and npm
	curl --silent --location https://deb.nodesource.com/setup_0.12 | bash -
	apt-get install --yes nodejs
	npm install
	NODE_ENV=production OFFLINE=true npm run build
	dh_lintian

override_dh_auto_install override_dh_auto_test:
