.banner
    a(href="http://www.kano.me/mischiefweek" target='_blank')
        img(src="/assets/layout/mischiefweek-logo.png")
        span Mischief Week
        |   Hack your way through a fresh batch of coding challenges in Make Art