.certificate.modal-overlay(ng-if='certModal')
    .modal-inner.modal-challenge-info.center

        .cover

        button.close(ng-click='toggleCertModal()'): i.icon-cross

        .detail
            h3 Claim your Pixel Hack certificate.

            p Visit this address from a computer with a connected printer to create your certificate.
            
            h3 http://certificate.kano.me/pixelhack/