.modal-overlay(ng-show='menuOpen', ng-cloak): .modal-inner.split-modal.levels-menu
    button.close(ng-click='menuOpen = false') &times;
    div.challenge-info
        h6.center CHALLENGE {{ lastChallengeVisited.get() }} OF {{ levels.length }}
        h2.center {{ levels[lastChallengeVisited.get() - 1].title }}
        h4.center {{ levels[lastChallengeVisited.get() - 1].description }}

    ul.levels-list
        li(ng-repeat='level in levels', ng-controller='ChallengeMenuItemController')
            a.button(
                ng-href='{{ isLocked() ? "" : "/level/" + challengeNo }}',
                ng-click='!isLocked() ? menuOpen = false : ""',
                ng-class='{ "locked" : isLocked(), "unlocked" : !isLocked(), "lastUnlocked" : isLastUnlocked() }'
                ) {{ challengeNo }}
            .challenge-title {{ level.title.toUpperCase() }}

        li
            a.button.playground(ng-href='/playground', ng-click='menuOpen = false') Playground
            div.challenge-title BE CREATIVE

        .center.bottom-section
            a.button(ng-href='/level/{{ lastChallengeVisited.get() }}') START