.modal-overlay(ng-show='isChallengeCompleteOpen'): .modal-inner.split-modal.challenge-complete.center
    button.close(ng-click='closeChallengeComplete()') &times
    h2 Congratulations
    h4 You've completed
    .logo-title.center
        img(src='/assets/layout/draw-logo.png')

    .center.bottom-section
        a.button.large(ng-href='/playground') Playground
