mixin arguments-short (args)
    for arg, i in args
        span(class='argument argument-' + arg[1] + (arg[3] ? '' : ' optional'))
            if arg[1] == 'string'
                = '\'' + arg[0] + '\''
            else
                = arg[0]

        if i < args.length - 1
            | , 

.docs
    h1.center Spellbook

    .row
        for category, i in jsonContent('docs')

            if i % 2 === 0 && i !== 0
                </div><div class="row">

            .col-6: .docs-category
                h3
                    .category-icon(class='category-icon-' + category.label.toLowerCase())
                    = category.label

                for command in category.commands
                    .command

                        h4
                            span.identifier= command.call + (!command.args.length ? '()' : '')
                            |  
                            +arguments-short(command.args)

                        p.description= command.description

                        ul.arguments
                            for arg in command.args
                                li
                                    = arg[0] + ': '
                                    span= arg[2]