div(ng-controller='ExamplesController')
    ul.list.examples-list
        li(ng-repeat='example in examples')
            a(
                href='#',
                ng-click='selectExample($index)',
                ng-class='{ active: $index === current }'
                ) {{ example.title }}

    .row
        .col-6
            editor(ng-model='code', editable='true', workspace)
        .col-6
            display(source='code', workspace)
