.modal-overlay(ng-show='isOpen'): .modal-inner.export-menu
    button.close(ng-click='isOpen = false') &times
    h2.center {{ dialog }}
    .row
        .col-6
            img.created-image(ng-src='{{ getImageSrc() }}')
        .col-6
            input.filename(ng-model='filename',
                           placeholder='Title',
                           required)
            textarea.description(ng-model='description',
                                 placeholder='Description')

            a.button.export(ng-click='export()') {{ dialog }}
            a.button.export-wallpaper(ng-show="dialog === 'save'",
                                      ng-click='exportWallpaper()') Create Wallpaper
