.modal-overlay(ng-controller='FeedbackController', ng-if='isFeedbackSplashOpen', ng-cloak)
    .modal-inner.split-modal.splash.feedback-splash
        h3.center Tell us your thoughts!
        form(target='fake-target', action='http://docs.google.com/forms/d/1sGwcGfjhUK2oz52VRMbnv_1j3a5wMlD0TU0Ms9EpzO8/formResponse', method='POST')
            .form-container
                textarea(name="entry.1539829787", rows="5", cols="40", placeholder='Did you like it?') 

            .form-message.hide
                h2 Thank you! :)
            .center.bottom-section
                button.button.button-danger.large(ng-click='handleSkip($event)') Don't Send
                button.button.large(type='submit', ng-click='handleClick()') Send

        iframe(id="fake-target" name="fake-target" style="width:0px; height:0px; border:0px;")
