.modal-overlay(ng-controller='FeedbackController', ng-if='isFeedbackSplashOpen', ng-cloak)
    .modal-inner.split-modal.splash.feedback-splash
        button.close(ng-click='handleSkip($event)'): i.icon-cross
        form(name='form' ng-submit='sendFeedback()')
            h1.center: b Feedback

            .box.box-danger(ng-if='error') {{ error }}
            
            .form-container
                .mood-selector
                    input(type='radio', ng-model='feedback.rating', value='rating-1', id='rating_1')
                    .mood-container: label(class='mood rating-1', for='rating_1')
                    input(type='radio', ng-model='feedback.rating', value='rating-2', id='rating_2')
                    .mood-container: label(class='mood rating-2', for='rating_2')
                    input(type='radio', ng-model='feedback.rating', value='rating-3', id='rating_3')
                    .mood-container: label(class='mood rating-3', for='rating_3')
                    input(type='radio', ng-model='feedback.rating', value='rating-4', id='rating_4')
                    .mood-container: label(class='mood rating-4', for='rating_4')
                    input(type='radio', ng-model='feedback.rating', value='rating-5', id='rating_5')
                    .mood-container: label(class='mood rating-5', for='rating_5')

                .feedback-box
                    textarea(ng-model='feedback.thought', rows="3", placeholder='What\'s up?', required)

            .form-message.hide
                h3 Thank you!

            .center.bottom-section: div(style='min-height: 88px'): .feedback-buttons
                button.button.large(type='submit', ng-disabled='form.$invalid', ng-class='{ "disabled" : form.$invalid }', ng-if='!loading') Send
                .spinner(ng-if='loading')