header: .page-width

    a.logo(href='/')
    //- if !offline
    //-     a.kano-logo(href='http://www.kano.me', target='_blank')

    ul.nav.nav-left

        li: a(href='/challenges', ng-class='{ active: basePath === "challenge" || basePath === "challenges" }')
            i.icon-menu
            |  Challenges

        li: a(href='/playground', ng-class='{ active: basePath === "playground" }')
            i.icon-game
            |  Playground

    ul.nav.nav-right(ng-cloak)

        li(ng-if='!offline && !loggedIn'): a(href='#', ng-click='login()')
            i.icon-login
            |  Login

        li(ng-if='!offline && loggedIn')
            a.user-display(ng-href='http://world.kano.me/users/{{ user.username }}', target='_blank')
                .avatar: img(ng-src='http://avatar.kano.me/username/{{ user.username }}.png')
                | {{ user.username }}

        li(ng-if='!offline && loggedIn'): a(href='#', ng-click='logout()')
            i.icon-logout
            |  Logout

        li: button.close(ng-click='shutdown()', ng-if='offline'): i.icon-cross

include banner