.modal-overlay(ng-show='isOpen'): .modal-inner.split-modal.load-menu
    button.close(ng-click='isOpen = false') &times;
    h2.center Load
    h4.center Load from where

    .bottom-section.center
        span
            button.button.large() Your Kano
                input.transparent(type='file' accept='.draw'
                    onChange='angular.element(this).scope().load(this)')
        button.button.large(ng-click='load.web()') Internet
