.modal-overlay(ng-controller="PromoPopupController" ng-show="isPopupOpen")
    .modal-inner.promo-popup
        .sc-popup-header
            h2 {{cfg.title}}
            p {{cfg.text}}
            a.close-btn(ng-click='isPopupOpen = false')
        .sc-popup-body(ng-if='isPopupOpen')
            .promo-video(ng-if="cfg.body === 'video'")
                iframe(width="600" height="337" src="https://www.youtube.com/embed/D5H1A7-6E_U?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
            .upgrade-kit-img(ng-if="cfg.body === 'upgrade-kit' ")
            .update-img(ng-if="cfg.body === 'update' ")
        .sc-popup-footer
            a.button.button-success.large(ng-click='isPopupOpen = false' href='{{cfg.link.url}}' target="_blank") {{cfg.link.text}}
