.modal-overlay.flexcenter(ng-if='selectedChallenge && !offline')
    .modal-inner.modal-challenge-info.center

        .cover(ng-style='{ "background-image": "url(/assets/challenges/images/" + selectedChallenge.cover +")" }')

        button.close(ng-click='deselectedChallenge()'): i.icon-cross

        .detail
            .detail-content

                h3 {{ selectedChallenge.title }}

                p.description {{ selectedChallenge.description }}

                a.button.button-success(ng-href='/challenge/{{selectedWorld.id}}/{{selectedChallenge.id}}') ${{ challenge.start }}$
