.modal-overlay(ng-if='shareModal && creation')
    .modal-inner.modal-next-challenge.center

        .cover(ng-style='{ "background-image": "url(" + creation.cover_url + ")" }')

        //- button.close(ng-click='closeShareModal()'): i.icon-cross

        .detail

            .title: span {{ creation.title }}

            p.description {{ creation.description }}

        .buttons(ng-if='!mailTab')
            a.button.button-mail(ng-click='openMailTab()')
                i.icon-mail

            a.button.button-facebook(ng-click='facebookShare(creation)')
                img(src='/assets/button-icons/facebook-white.png' title='Share on Facebook')

            a.button.button-twitter(ng-href='{{ buildURL(creation) }}')
                img(src='/assets/button-icons/twitter-white.png' title='Share on Twitter')

        .mail-tab(ng-if='mailTab')
            form(ng-submit='submit()' name='mailForm')
                .box.box-danger(ng-if='error') {{ error }}

                .email
                    input.filename(ng-model='creation.email', placeholder='Email address', type='email', required)
