.modal-overlay(ng-controller='SplashController', ng-show='splash.display && !splash.hasDisplayed')
    .modal-inner.split-modal.splash

        //- Logo
        .logo-title

        h4.center ${{ partial.draw_with_code }}$

        //- Start button
        .center.bottom-section

            button.button.large(ng-click='splash.close()') ${{ partial.start }}$
