.modal-overlay(ng-controller='SplashController', ng-show='isSplashOpen && !appMode')
    .modal-inner.split-modal.splash

        //- Logo
        .logo-title

        h4.center Draw with code

        //- Start button
        .center.bottom-section

            button.button.large(ng-click='isSplashOpen = false') Start
