.summercamp-leaderboard(ng-controller='SummerCampLeaderboardController')
    h1 Leaderboard
    h2 Can you reach the top?

    .leaderboard-title(ng-if='leaderboard_entries')
        .header
            span.position Rank
            .detail
                span.challenges Challenges
                span.points Points
        .header
            span.position Rank
            .detail
                span.challenges Challenges
                span.points Points
    ul.leaderboard
        li.leaderboard-entry(ng-repeat='leaderboard_entry in leaderboard_entries',
                             ng-class='{user: leaderboard_entry.isUser}')
            a(href='http://world.kano.me/users/{{ leaderboard_entry.username }}')
            .position {{ leaderboard_entry.rank }}
            .detail
                img.avatar(ng-src="{{ leaderboard_entry.avatar }}")
                span.user {{ leaderboard_entry.username }}
                span.points {{ leaderboard_entry.xp }}
                span.challenges-complete {{ leaderboard_entry.challengeNo - 1 }}

        .spinner(ng-if='!leaderboard_entries || !leaderboard_entries.length')
