.summercamp
    a(href="/summercamp/calendar?utm_source=Make%20Art&utm_medium=banner&utm_campaign=Summer%20Camp" class="banner")
        img(src="/assets/summercamp/logo.png")
        span Free coding challenges:
        |   Every day for three weeks this summer.  {{summerCampStarted ? "Start now" : "Enroll now"}}.