h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font-heading;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
  text-align: center;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 13px;
}
