
<header>
  <div ng-if="offline || !selectedWorld || !selectedWorld.display_menu" class="main-navigation page-width"><a href="/" class="logo"><img ng-src="{{ _config.UI_ROOT + &quot;assets/layout/draw-logo@2x.png&quot; }}" alt="main logo"/></a>
    <ul class="nav nav-left">
      <li><a href="/challenges" ng-class="{ active: basePath === &quot;challenge&quot; || basePath === &quot;challenges&quot; }"><i class="icon-menu"></i>Desafíos</a></li>
      <li><a href="/playground" ng-class="{ active: basePath === &quot;playground&quot; }"><i class="icon-game"></i>Playground</a></li>
    </ul>
    <ul ng-cloak="ng-cloak" class="nav nav-right">
      <li class="discover"><a ng-if="!offline" id="discover-kano" href="http://world.kano.me/start" target="_blank"><i class="icon-cpu"></i>Descubre Kano</a></li>
      <li ng-if="!offline &amp;&amp; !loggedIn"><a href="" ng-click="auth.openModal(&quot;login&quot;)"><i class="icon-login"></i>Ingresar</a></li>
      <li ng-if="!offline &amp;&amp; !loggedIn"><a href="" ng-click="auth.openModal(&quot;signup&quot;)" class="signup">Regístrate</a></li>
      <li ng-if="!offline &amp;&amp; loggedIn"><a ng-href="http://world.kano.me/users/{{ user.username }}" target="_blank" class="user-display">
          <div class="avatar"><img ng-src="{{ user.avatar.urls.circle || cfg.DEFAULT_AVATAR }}"/></div>{{ user.username }}</a></li>
      <li ng-if="!offline &amp;&amp; loggedIn"><a href="" ng-click="logout()"><i class="icon-logout"></i>Salir</a></li>
      <li>
        <button ng-click="shutdown()" ng-if="offline" class="close"><i class="icon-cross"></i></button>
      </li>
    </ul>
  </div>
</header>
<!-- Uncomment to enable banner-->
<!-- include banner-->
<div class="page-challenge">
  <div class="page-width">
    <div ng-class="(animationClass || &quot;&quot;) + (completed ? &quot; success&quot; : &quot;&quot;) + (fatherDay ? &quot; father-day&quot; : &quot;&quot;)" class="workspace-header">
      <div ng-if="!started" class="inner center">
        <h3>Desafío {{ id }}: {{ challenges[ id - 1 ].title }}</h3>
        <h4>{{ challenges[ id - 1 ].description }}</h4>
        <button ng-click="start()" class="button-success">Empezar</button>
      </div>
      <div ng-if="started &amp;&amp; !completed" class="inner">
        <div class="hint-container">
          <div class="hint-content">
            <div class="progress-circle-image">
              <progress-circle value="step" max="content.steps.length"></progress-circle>
            </div>
            <div class="inner-text">
              <h3>{{ challenges[ id - 1 ].title }}</h3>
              <h4 ng-bind-html="hint | markdown" ng-if="hint" class="hint"></h4>
            </div>
          </div>
          <div class="button-container"><a ng-click="toggleSolution()" ng-class="{ active: showSolution, &quot;animate-pulse-highlight&quot;: highlightHelp }" class="button button-hint large right"><i class="icon-hint"></i>Pista</a></div>
        </div>
      </div>
      <div ng-if="completed &amp;&amp; !fatherDay" class="inner center">
        <div class="completion">
          <div class="text">
            <h4 ng-if="offline">{{ content.completion_text || 'Buen trabajo!' }} ¡Ganaste {{ xpGain }} PX!</h4>
            <h4 ng-if="!offline">{{ content.completion_text || 'Buen trabajo!' }}</h4><a ng-click="goToNext()" class="button button-success">{{ next ? 'Siguiente' : 'Hecho' }} &rsaquo;</a>
          </div>
          <div ng-if="content.gallery" class="gallery">
            <h4>¿Puedes hackear este desafío?</h4>
            <div class="remixes">
              <div ng-repeat="remix in content.gallery.remixes" ng-style="{&quot;background-image&quot;: &quot;url(&quot; + content.gallery.cover_path + remix + &quot;)&quot;}" class="image"></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="completed &amp;&amp; fatherDay" class="inner center">
        <div ng-if="!user"><img src="/assets/layout/father-day-closed.png"/>
          <h4>¡Crea una tarjeta para el Día del Padre!</h4>
          <p>¡Ahora entra al Mundo Kano para compartir tus creaciones y enviar una tarjeta a tu padre!</p><a ng-click="login()" href="#" class="button large button-success">Log In / Sign Up</a>
        </div>
        <div ng-if="user"><img src="/assets/layout/father-day-open.png"/>
          <h4>¡Comparte tu tarjeta del Día del Padre!</h4>
          <p>¡Ahora puedes compartir tu tarjeta en Mundo Kano y también con tu padre!</p><a ng-click="shareFatherDay()" href="#" class="button large button-success">Share it!</a>
        </div>
      </div>
    </div>
    <div ng-if="started" class="row">
      <div class="col-6 editor-wrap">
        <editor workspace="workspace" ng-model="challenge.code" ng-class="{ completed: completed }" ng-change="validate()" editable="started" start-at-line="content.startAt" tabbed="true" controls="true"></editor>
      </div>
      <div class="col-6 tutorial-wrap">
        <display reset-fn="restart" source="challenge.code" workspace="workspace" mode="&quot;challenge&quot;" sharing="completed" ng-class="{ disabled: !started }" ng-show="!showSolution"></display>
        <editor ng-if="showSolution &amp;&amp; solution" ng-model="solution" title="&quot;Solución&quot;" class="solution">{{ solution }}</editor>
      </div>
    </div>
    <div ng-if="gameCompleteOpen" class="modal-overlay">
      <div ng-if="selectedWorld.id !== &quot;hourofcode&quot;" class="modal-inner split-modal challenge-complete center">
        <h3>Desafíos completos</h3>
        <h4 ng-if="!unlockedWorld">¡Ahora crea algo nuevo!</h4>
        <h4 ng-if="unlockedWorld">¡Nuevo mundo desbloqueado! Jugar Ahora - <a href="/challenges/{{ unlockedWorld.id }}" class="button unlocked">{{ unlockedWorld.name }}</a></h4>
        <div class="logo-title"></div>
        <div class="center bottom-section"><a ng-href="/challenges" class="button secondary large"><i class="icon-menu"></i> Menú</a><a ng-href="/playground" class="button large"><i class="icon-game"></i> Playground</a></div>
      </div>
      <div ng-if="selectedWorld.id === &quot;hourofcode&quot;" class="modal-inner split-modal challenge-complete center">
        <h3>Desafíos completos</h3>
        <h4>¡Lo lograste, vuelve atrás para programar más!</h4>
        <div class="hour-of-code-logo"></div>
        <div class="center bottom-section"><a href="http://code.org/learn" class="button large"><i class="icon-game"></i> Hora de programar</a></div>
      </div>
    </div>
  </div>
</div>
<div ng-if="nextModal" class="modal-overlay flexcenter-top">
  <div class="modal-inner modal-next-challenge center">
    <div ng-style="{ &quot;background-image&quot;: &quot;url(&quot; + _config.UI_ROOT + &quot;assets/challenges/images/&quot; + next.cover +&quot;)&quot; }" class="cover"></div>
    <button ng-click="closeNextModal()" class="close"><i class="icon-cross"></i></button>
    <div class="detail">
      <div class="title">Siguiente:<span>{{ next.title }}</span><a ng-href="/challenges/{{selectedWorld.id}}" ng-if="next.locked" class="button button-success">{{ selectedWorld ? 'Atrás' + selectedWorld.name : 'Menú' }}</a><a ng-href="/challenge/{{selectedWorld.id}}/{{next.id}}" ng-if="!next.locked" class="button button-success">Empezar</a></div>
      <p class="description">{{ next.description }}</p>
      <p ng-if="next.locked" class="description small">Vuelve mañana para continuar con este desafío</p>
    </div>
    <div ng-if="creation &amp;&amp; !mailTab" class="social-sharing">
      <div class="image"><img ng-src="{{ creation.cover_url }}"/></div>
      <div class="detail"><span class="title">{{ creation.title }}</span>
        <div class="description">{{ creation.description }}</div>
      </div>
      <div class="buttons"><a ng-click="openMailTab()" class="button button-mail"><i class="icon-mail"></i></a><a ng-click="facebookShare(creation)" class="button button-facebook"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/facebook-white.png&quot; }}" title="Compartir en Facebook"/></a><a target="_new" ng-href="{{ buildURL(creation) }}" class="button button-twitter"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/twitter-white.png&quot; }}" title="Compartir en Twitter"/></a></div>
    </div>
    <div ng-if="mailTab" class="mail-tab center"><span>Compartir vía correo electrónico</span>
      <form ng-submit="sendMail(creation)" name="mailForm">
        <div ng-if="error" class="box box-danger">{{ error }}</div>
        <div class="email">
          <input ng-model="creation.email" placeholder="Email address" type="email" required="required"/>
        </div>
        <button type="submit" ng-disabled="mailForm.$invalid" ng-class="{ &quot;disabled&quot; : mailForm.$invalid }" ng-if="!loading" class="button-success">Enviar</button>
        <div ng-if="loading" class="spinner"></div>
      </form>
    </div>
  </div>
</div>
<div ng-if="shareModal &amp;&amp; creation" class="modal-overlay">
  <div class="modal-inner modal-share-creation center">
    <div ng-style="{ &quot;background-image&quot;: &quot;url(&quot; + creation.cover_url + &quot;)&quot; }" class="cover"></div>
    <div ng-if="!mailTab" class="detail">
      <div class="title"><span>{{ creation.title }}</span></div>
      <p class="description">{{ creation.description }}</p>
    </div>
    <div ng-if="!mailTab" class="buttons">Compartir con amigos:<a ng-click="openMailTab()" class="button button-mail"><i class="icon-mail"></i></a><a ng-click="facebookShare(creation)" class="button button-facebook"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/facebook-white.png&quot; }}" title="Compartir en Facebook"/></a><a ng-click="twitterShare(creation)" class="button button-twitter"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/twitter-white.png&quot; }}" title="Compartir en Twitter"/></a></div>
    <div ng-if="selectedWorld.share_strategy === &quot;optional&quot;" class="skip-sharing">
      <button ng-click="skipSocialSharing()" class="button-success">Saltear compartir</button>
    </div>
    <div ng-if="mailTab" class="mail-tab center"><span>Compartir vía correo electrónico</span>
      <form ng-submit="sendMail(creation)" name="mailForm">
        <div ng-if="error" class="box box-danger">{{ error }}</div>
        <div class="email">
          <input ng-model="creation.email" placeholder="Correo electrónico" type="email" required="required"/>
        </div>
        <button type="submit" ng-disabled="mailForm.$invalid" ng-class="{ &quot;disabled&quot; : mailForm.$invalid }" ng-if="!loading" class="button-success">Enviar</button>
        <div ng-if="loading" class="spinner"></div>
      </form>
    </div>
  </div>
</div>
<div ng-if="mailPreview" class="modal-overlay">
  <div class="modal-inner modal-mail-preview center">
    <button ng-click="closePreview()" class="close"><i class="icon-cross"></i></button>
    <div class="preview">
      <div class="header">Compartir vía correo electrónico</div>
      <h4>"{{ selectedSummerChallengeObj.shareTitle }}"</h4>
      <div class="content">
        <div class="left-content">
          <input type="email" ng-model="selectedSummerChallengeObj.email" placeholder="Ingresa un correo electrónico"/>
          <textarea ng-model="selectedSummerChallengeObj.message" placeholder="¡Acabo de programar esto! ¿Quieres intentarlo? Es fácil y divertido para cualquiera"></textarea>
          <input type="text" ng-model="selectedSummerChallengeObj.name" placeholder="Tu nombre..."/>
        </div>
        <div class="right-content">
          <div class="pic"><img ng-src="{{selectedSummerChallengeObj.img}}" ng-if="!selectedSummerChallengeObj.cover_url"/><img ng-src="{{selectedSummerChallengeObj.cover_url}}" ng-if="selectedSummerChallengeObj.cover_url"/></div><a ng-click="sendMail(selectedSummerChallengeObj)" class="button button-success">Enviar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="auth.showModal" ng-cloak="ng-cloak" ng-click="auth.overlayClicked($event)" class="modal-overlay">
  <kwc-auth></kwc-auth>
</div>