
<div ng-if="shareModal &amp;&amp; creation" class="modal-overlay">
  <div class="modal-inner modal-share-creation center">
    <div ng-style="{ &quot;background-image&quot;: &quot;url(&quot; + creation.cover_url + &quot;)&quot; }" class="cover"></div>
    <div ng-if="!mailTab" class="detail">
      <div class="title"><span>{{ creation.title }}</span></div>
      <p class="description">{{ creation.description }}</p>
    </div>
    <div ng-if="!mailTab" class="buttons">Share with friends:<a ng-click="openMailTab()" class="button button-mail"><i class="icon-mail"></i></a><a ng-click="facebookShare(creation)" class="button button-facebook"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/facebook-white.png&quot; }}" title="Share on Facebook"/></a><a ng-click="twitterShare(creation)" class="button button-twitter"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/twitter-white.png&quot; }}" title="Share on Twitter"/></a></div>
    <div ng-if="selectedWorld.share_strategy === &quot;optional&quot;" class="skip-sharing">
      <button ng-click="skipSocialSharing()" class="button-success">Skip sharing</button>
    </div>
    <div ng-if="mailTab" class="mail-tab center"><span>Share by email</span>
      <form ng-submit="sendMail(creation)" name="mailForm">
        <div ng-if="error" class="box box-danger">{{ error }}</div>
        <div class="email">
          <input ng-model="creation.email" placeholder="Email address" type="email" required="required"/>
        </div>
        <button type="submit" ng-disabled="mailForm.$invalid" ng-class="{ &quot;disabled&quot; : mailForm.$invalid }" ng-if="!loading" class="button-success">Send</button>
        <div ng-if="loading" class="spinner"></div>
      </form>
    </div>
  </div>
</div>