
<div class="draw-display">
  <div class="display">
    <div class="padded">
      <div class="inner">
        <canvas ng-mousemove="displayMousePos($event)" ng-mouseleave="displayCoordsPos()"></canvas>
        <div ng-style="{ left: cursorPosition.x + &quot;px&quot;, top: cursorPosition.y + &quot;px&quot; }" class="cursor"></div>
        <div ng-if="error" ng-class="&quot;error-&quot; + error.type" class="error-display">
          <h3>${{ directive.error }}$ <span ng-if="error.row !== null">${{ directive.error_line }}$</span></h3>
          <p>${{ directive.error_text }}$</p>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="position-indicator"><i ng-class="{'icon-mouse-pointer': mouse, 'icon-plus': !mouse}"></i> x: {{ coordsPosition.x }} y: {{ coordsPosition.y }}</div><a ng-if="mode === &quot;playground&quot; || sharing" ng-click="setOpenModal(&quot;share&quot;)" class="action action-share"><i class="icon-share"></i>${{ directive.share }}$</a><a ng-if="mode === &quot;playground&quot;" ng-click="save()" class="action action-save"><i class="icon-save"></i>${{ directive.save }}$</a><a ng-if="mode === &quot;challenge&quot;" ng-click="resetCode()" class="action action-reset"><i class="icon-reset"></i>${{ directive.reset }}$</a>
    <div ng-show="mode === &quot;playground&quot;" class="action action-load"><i class="icon-arrow-up"></i>${{ directive.load }}$
      <input type="file" accept=".draw" class="file-load"/>
    </div>
    <export-modal display="this" action="&quot;save&quot;"></export-modal>
    <export-modal display="this" action="&quot;share&quot;"></export-modal>
  </div>
</div>