
<div class="social-sharing">
  <div class="buttons"><a ng-click="facebookShare()" class="button button-facebook"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/facebook-white.png&quot; }}" title="${{ partial.share_on_facebook }}$"/></a><a ng-click="twitterShare()" class="button button-twitter"><img ng-src="{{ _config.UI_ROOT + &quot;assets/button-icons/twitter-white.png&quot; }}" title="${{ partial.share_on_twitter }}$"/></a><a ng-click="open()" class="button button-mail"><i class="icon-mail"></i></a></div>
</div>
<div ng-if="mailModal" class="modal-overlay">
  <div class="modal-inner modal-mail-sender center">
    <button ng-click="close()" class="close"><i class="icon-cross"></i></button>
    <h4>Tell your friends!</h4>
    <form ng-submit="sendMail()" name="form">
      <div ng-if="error" class="box box-danger">{{ error }}</div>
      <div class="email">
        <input ng-model="mailForm.email" placeholder="${{ directive.recipients_email_address }}$" type="email" required="required"/>
      </div>
      <div class="message">
        <textarea ng-model="mailForm.description" placeholder="${{ directive.your_message }}$" required="required"></textarea>
      </div>
      <button type="submit" ng-disabled="form.$invalid" ng-class="{ &quot;disabled&quot; : form.$invalid }" ng-if="!loading" class="button-success">${{ partial.send }}$</button>
      <div ng-if="loading" class="spinner"></div>
    </form>
  </div>
</div>