autocomplete-tag(color)
    color color

.ace-dawn.ace_editor.ace_autocomplete
    border-radius()
    box-shadow rgba(#000, .2) 0 3px 3px 0
    background color-editor-box
    border 0
    color color-white
    box-shadow none
    font-family font-body
    font-size 15px

    &, .ace_line
        line-height 30px

        ::-webkit-scrollbar
            display: none

        // .ace_command
        //     autocomplete-tag(color-language-identifier)

        .ace_color
            // autocomplete-tag(color-language-string)
            autocomplete-tag(mix(color-editor-box, color-white, 30))

    .ace_line
        padding 0 10px

    .ace_rightAlignedText
        padding-right 5px
        font-style italic

    .ace_marker-layer .ace_active-line
        background darken(color-editor-box, 10)
        
    .ace_marker-layer .ace_line-hover
        background darken(color-editor-box, 5)
        border 0
        padding-top 1px