editor .controls
    position absolute
    z-index 1
    right 10px
    bottom 10px
    z-index 8

    a
        width 40px
        height @width
        line-height @width
        text-align center
        background-color #585858
        display inline-block
        border-radius()
        transition background-color .2s
        margin-left 10px
    
        &:hover
            background-color #333

        &.active
            background-color #aaa
            
            &:hover
                background-color #bbb

    .button-full-screen
        bg-image-sized 'button-icons/full-screen', center center, no-repeat

    .button-autocomplete
        bg-image-sized 'button-icons/autocomplete', center center, no-repeat