editor
	.icon-guide
		font-size 32px
        
	.editor-guide
		border-radius()
		background color-editor-bg
		position relative
		
		.inner
			padding 20px 30px
			height editor-height
			overflow auto
			box-sizing border-box
		
		&, h4, p
			color color-white
		
		&:before, &:after
			absolute-cover()
			content ''
			height 30px
			transition opacity .2s
			top 0
			z-index 2
		
		&:before
			border-radius(3px 3px 0 0)
			background linear-gradient(rgba(color-editor-bg, 1), rgba(color-editor-bg, 0))
		
		&:after
			border-radius(0 0 3px 3px)
			top auto
			bottom 0
			background linear-gradient(rgba(color-editor-bg, 0), rgba(color-editor-bg, 1))
		
		h4
			smooth-font()
			font-size 20px
			font-weight bold
			margin-bottom 5px