editor .editor-solution
    border-radius()
    background color-editor-bg

    pre
        margin 0

    code
        smooth-font()
        height editor-height
        color color-white
        background none
        padding 10px 25px
        box-sizing border-box