editor
    position relative

    .editor-docs, .editor-wrap, .editor-guide
        margin-left editor-tabs-size + 20px

    ul.editor-tabs
        debullet()
        position absolute
        left 0
        top 0

        li
            border-radius()
            font-size 20px
            width editor-tabs-size
            height editor-tabs-size
            line-height editor-tabs-size
            text-align center
            margin-bottom 10px
            background lighten(color-editor-bg, 15)
            cursor pointer

            i
                opacity .5

            &:hover
                background lighten(color-editor-bg, 30)

            &.active
                background color-orange

                i
                    opacity 1

            &.divide
                cursor default
                height 3px

                &, &:hover
                    background rgba(color-editor-bg, .6)