editor .editor-title, editor ul.editor-tabs
    border-radius(3px 3px 0 0)
    smooth-font()
    background color-editor-bg
    text-align center
    font-weight bold
    text-transform uppercase
    font-size 14px

editor .editor-title
    padding 15px
    padding-bottom 24px

editor ul.editor-tabs
    debullet()
    clearfix()
    padding-bottom 10px
    margin 0
    overflow hidden

    li
        cursor pointer
        width 50%
        float left
        padding 15px
        box-sizing border-box
        background darken(color-editor-bg, 5)
        color mix(color-editor-bg, color-white, 50)

        &:hover
            background darken(color-editor-bg, 8)
            color mix(color-editor-bg, color-white, 30)

        &.active
            background color-editor-bg
            color color-white

    &.split-three li
        width (100% / 3)