editor ul.editor-tabs
    debullet()
    clearfix()
    border-radius(3px 3px 0 0)
    background color-editor-bg
    padding-bottom 10px
    margin 0
    overflow hidden

    li
        smooth-font()
        cursor pointer
        width 50%
        float left
        padding 15px
        box-sizing border-box
        background darken(color-editor-bg, 5)
        color mix(color-editor-bg, color-white, 50)
        text-align center
        font-weight bold
        text-transform uppercase
        font-size 14px

        &:hover
            background darken(color-editor-bg, 8)
            color mix(color-editor-bg, color-white, 30)

        &.active
            background color-editor-bg
            color color-white

    &.split-three li
        width (100% / 3)