
<header>
  <div ng-if="offline || !selectedWorld || !selectedWorld.display_menu" class="main-navigation page-width"><a href="/" class="logo"><img ng-src="{{ _config.UI_ROOT + &quot;assets/layout/draw-logo@2x.png&quot; }}" alt="main logo"/></a>
    <ul class="nav nav-left">
      <li><a href="/challenges" ng-class="{ active: basePath === &quot;challenge&quot; || basePath === &quot;challenges&quot; }"><i class="icon-menu"></i>Challenges</a></li>
      <li><a href="/playground" ng-class="{ active: basePath === &quot;playground&quot; }"><i class="icon-game"></i>Playground</a></li>
    </ul>
    <ul ng-cloak="ng-cloak" class="nav nav-right">
      <li class="discover"><a ng-if="!offline" id="discover-kano" href="http://world.kano.me/start" target="_blank"><i class="icon-cpu"></i>Discover Kano</a></li>
      <li ng-if="!offline &amp;&amp; !loggedIn"><a href="" ng-click="auth.openModal(&quot;login&quot;)"><i class="icon-login"></i>Login</a></li>
      <li ng-if="!offline &amp;&amp; !loggedIn"><a href="" ng-click="auth.openModal(&quot;signup&quot;)" class="signup">Sign up</a></li>
      <li ng-if="!offline &amp;&amp; loggedIn"><a ng-href="http://world.kano.me/users/{{ user.username }}" target="_blank" class="user-display">
          <div class="avatar"><img ng-src="{{ user.avatar.urls.circle || cfg.DEFAULT_AVATAR }}"/></div>{{ user.username }}</a></li>
      <li ng-if="!offline &amp;&amp; loggedIn"><a href="" ng-click="logout()"><i class="icon-logout"></i>Logout</a></li>
      <li>
        <button ng-click="shutdown()" ng-if="offline" class="close"><i class="icon-cross"></i></button>
      </li>
    </ul>
  </div>
</header>
<!-- Uncomment to enable banner-->
<!-- include banner-->
<div ng-class="[ selectedWorldClass ]" class="page-challenges">
  <div ng-if="selectedWorld.hero_header &amp;&amp; !offline" class="hero-header">
    <div class="hero-image"></div>
    <div class="hero-links"><a ng-repeat="link in selectedWorld.hero_header.links" ng-href="{{link.location}}" target="_blank" title="{{link.text}}" class="hero-link">
        <div class="hero-link-thumbnail"><img ng-src="/assets/{{link.image}}" class="hero-link-image"/></div>
        <div class="hero-link-text">{{link.text}}</div></a></div>
  </div>
  <div class="page-width">
    <div class="image pull-left"></div>
    <div class="image pull-right"></div>
    <social-sharing type="&quot;world&quot;" ng-if="selectedWorld.socialText &amp;&amp; loggedIn &amp;&amp; !offline"></social-sharing>
    <h3 ng-if="selectedWorld" class="page-title"><span>{{ selectedWorld ? selectedWorld.name : 'Challenges'}}</span>
      <div class="quests"><a ng-if="isWorldInIndex(selectedWorld)" href="/challenges"><i class="icon-arrow-left"></i>Challenges</a></div>
    </h3>
    <div class="header">
      <div ng-if="selectedWorld.updateForm &amp;&amp; !loggedIn" class="updates-form">
        <h4>Get Kano Updates</h4>
        <form name="updateForm" ng-submit="submit()">
          <input placeholder="Enter your email address" ng-model="formData.email" type="email" required="required"/>
          <button type="submit" ng-disabled="updateForm.$invalid" ng-class="{ &quot;disabled&quot; : updateForm.$invalid }">Sign Up</button>
        </form>
        <div ng-if="error" class="error">{{ error }}</div>
        <div ng-if="success" class="success">{{ success }}</div>
      </div>
    </div>
    <ul ng-if="!selectedWorld" class="worlds-list">
      <li ng-repeat="world in worlds" ng-if="isWorldInIndex(world)" class="world-item"><a ng-href="{{!isWorldLocked(world) ? &quot;/challenges/&quot; + world.id : &quot;&quot;}}" ng-class="{locked: isWorldLocked(world), completed: isWorldCompleted(world), current: isWorldCurrent(world)}" ng-style="{ &quot;background-image&quot;: &quot;url(&quot; + _config.UI_ROOT + &quot;assets/challenges/images/&quot; + world.cover + &quot;.png)&quot; }" class="world-cover">
          <h4>{{ world.name }}</h4></a></li>
    </ul>
    <ul ng-if="selectedWorld" class="challenges-list">
      <li ng-repeat="challenge in challenges"><a ng-click="selectChallenge(challenge)" ng-class="{ locked: isLocked(challenge), completed: isCompleted(challenge), current: isCurrent(challenge) }">
          <div ng-style="{ &quot;background-image&quot;: &quot;url(&quot; + _config.UI_ROOT + &quot;assets/challenges/images/&quot; + challenge.cover + &quot;)&quot; }" class="cover"></div>
          <div class="detail">
            <h5>{{ challenge.short_title || challenge.title }}</h5>
          </div></a></li>
      <li ng-if="selectedWorld.type !== &quot;campaign&quot;"><a href="/playground" ng-class="{ locked: false}" class="highlight">
          <div ng-style="{&quot;background-image&quot;: &quot;url(&quot; + _config.UI_ROOT + &quot;assets/challenges/images/playground.png)&quot;}" class="cover"></div>
          <div class="detail">
            <h5>Playground</h5>
          </div></a></li>
      <li ng-if="selectedWorld.certificate_after"><a ng-href="{{getCertificateUrl()}}" target="{{isCertAchieved(selectedWorld) ? '_blank' : '_self'}}" ng-class="{ locked: !isCertAchieved(selectedWorld)}" ng-click="checkCertOnPi($event)" class="highlight">
          <div ng-style="{&quot;background-image&quot;: &quot;url(&quot; + _config.UI_ROOT + &quot;assets/challenges/images/cert-icon.png)&quot;}" class="cover"></div>
          <div class="detail">
            <h5>Certificate</h5>
          </div></a></li>
    </ul>
    <div ng-if="shares &amp;&amp; selectedWorld.type !== &quot;campaign&quot;">
      <h3 class="page-title"><i class="icon-share"></i>Latest Shares</h3>
      <ul class="shares-list">
        <li ng-repeat="share in shares" ng-if="$index &lt; shares.length - 1 || offline"><a href="{{cfg.WORLD_URL}}/shared/{{ share.slug }}">
            <div ng-style="{ &quot;background-image&quot;: &quot;url(&quot; + share.cover_url + &quot;)&quot; }" class="cover"></div>
            <div class="detail">
              <h5>{{ share.title }}<em>by {{ share.user.username }}</em></h5>
            </div></a></li>
        <li ng-if="!offline"><a href="{{cfg.WORLD_URL}}/shares/make-art" ng-click="browseMore($event)" target="_blank" class="highlight browse">
            <div ng-style="{&quot;background-image&quot;: &quot;url(&quot; + _config.UI_ROOT + &quot;assets/challenges/images/browse.png)&quot;}" class="cover"></div>
            <div class="detail">
              <h5>Browse more</h5>
            </div></a></li>
      </ul>
    </div>
  </div>
</div>
<div ng-if="selectedChallenge &amp;&amp; !offline" class="modal-overlay flexcenter">
  <div class="modal-inner modal-challenge-info center">
    <div ng-style="{ &quot;background-image&quot;: &quot;url(&quot; + _config.UI_ROOT + &quot;assets/challenges/images/&quot; + selectedChallenge.cover +&quot;)&quot; }" class="cover"></div>
    <button ng-click="deselectedChallenge()" class="close"><i class="icon-cross"></i></button>
    <div class="detail">
      <div class="detail-content">
        <h3>{{ selectedChallenge.title }}</h3>
        <p class="description">{{ selectedChallenge.description }}</p><a ng-href="/challenge/{{selectedWorld.id}}/{{selectedChallenge.id}}" class="button button-success">Start</a>
      </div>
    </div>
  </div>
</div>
<div ng-if="selectedChallenge &amp;&amp; offline" class="modal-overlay">
  <div class="modal-inner modal-challenge-info center">
    <div ng-style="{ &quot;background-image&quot;: &quot;url(/assets/layout/keyboard.gif)&quot; }" class="cover"></div>
    <button ng-click="deselectedChallenge()" class="close"><i class="icon-cross"></i></button>
    <div class="detail">
      <h3>Grab Your Keyboard!</h3>
      <p class="description">You'll need it to type code...</p><a ng-href="/challenge/{{selectedWorld.id}}/{{selectedChallenge.id}}" class="button button-success">Start</a>
    </div>
  </div>
</div>
<div ng-if="certModal" class="certificate modal-overlay">
  <div class="modal-inner modal-challenge-info center">
    <div class="cover"></div>
    <button ng-click="toggleCertModal()" class="close"><i class="icon-cross"></i></button>
    <div class="detail">
      <h3>Claim your Pixel Hack certificate.</h3>
      <p>Visit this address from a computer with a connected printer to create your certificate.</p>
      <h3>http://certificate.kano.me/pixelhack/</h3>
    </div>
  </div>
</div>
<div ng-show="auth.showModal" ng-cloak="ng-cloak" ng-click="auth.overlayClicked($event)" class="modal-overlay">
  <kwc-auth></kwc-auth>
</div>